<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="format-detection" content="telephone=no" />
	    <meta name="format-detection" content="email=no" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	    <title>支付成功</title>
	    <link rel="stylesheet" type="text/css" href="css/public.css"/>
	    <link rel="stylesheet" type="text/css" href="css/PaySuccess.css"/>
	</head>
	<body>
		<div class="pay-success">
			<span class="pay-success-title">支付成功 商品已放入库存</span>
			<a th:href="@{'/myStock/myStock?openId='+openId}" class="look-stock-btn">查看库存</a>
			<div class="share-hongbao">
				<a href="javascript:void(0);" class="share-btn">分享给好友</a>
			</div>
		</div>
		
		<div class="share-layer" style="display: none;">
			<div class="share-layer-bg"></div>
			<div class="share-layer-con">
				<span class="share-layer-sanjiao"></span>
				<p class="share-layer-p">点击右上角【•••】<br />分享到朋友，朋友圈。<br />让大家一起来试试手气吧</p>
			</div>
		</div>
		
		<!--引入js-->
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/size.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/PaySuccess.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
