<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="format-detection" content="telephone=no" />
	    <meta name="format-detection" content="email=no" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	    <title>空铁服务</title>
	    <link rel="stylesheet" type="text/css" href="css/public.css"/>
	    <link rel="stylesheet" type="text/css" href="css/share.css"/>
	</head>
	<body>
		<!--main start-->
		<div class="main">
			<!--head start-->
			<div class="head">
				<span class="head-line-one"></span>
				<div class="head-con">
					<ul class="head-nav">
						<li class="head-nav-cur">寄一份想思</li>
						<li>生日快乐</li>
						<li>新年祝福</li>
					</ul>
					<div class="head-wrap clear">
						<div class="head-wrap-item" style="display: block;">
							<p class="blessings">天气凉了<br />这份礼物带有我的温度~</p>
							<p class="blessings-btn"><span>换一句</span></p>
						</div>
						<div class="head-wrap-item">
							<p class="blessings">生日快乐</p>
							<p class="blessings-btn"><span>换一句</span></p>
						</div>
						<div class="head-wrap-item">
							<p class="blessings">新年祝福</p>
							<p class="blessings-btn"><span>换一句</span></p>
						</div>
					</div>
					<div class="head-con-bot clear">
						<span class="head-con-bot-line"></span>
						<img src="images/share_bow_icon.png" alt="1" class="head-con-bot-bow"/>
						<p class="head-con-bot-tips">*如果超过24小时未被领取，则退回原账户</p>
					</div>
				</div>
			</div>
			<!--head end-->
			
			<!--goods start-->
			<div class="goods clear">
				<span class="goods-box-shadow box-shadow-lt"></span>
				<span class="goods-box-shadow box-shadow-rt"></span>
				<div class="goods-con">
					<div class="goods-con-height">
						<div class="goods-con-hei-con">
							<ul class="goods-con-hei-ul">
								<li>
									<img src="images/goods_img2.png" alt="1" class="goods-img"/>
								</li>
								<li>
									<img src="images/goods_img2.png" alt="1" class="goods-img"/>
								</li>
								<li>
									<img src="images/goods_img2.png" alt="1" class="goods-img"/>
								</li>
								<li>
									<img src="images/goods_img2.png" alt="1" class="goods-img"/>
									<p class="goods-tips">共<span>2</span>件</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<span class="goods-bot-bg"></span>
			</div>
			<!--goods end-->
			
			<!--footer start-->
			<div class="footer">
				<a href="javascript:void(0);" class="footer-share-btn">送一个好友</a>
				<a href="javascript:void(0);" class="footer-welfare-btn">发群福利</a>
			</div>
			<!--footer end-->
		</div>
		<!--main end-->
		
		<!--footer-bg start-->
		<div class="footer-bg"></div>
		<!--footer-bg end-->
		
		<!--引入js-->
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/size.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/share.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
