<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="format-detection" content="telephone=no" />
	    <meta name="format-detection" content="email=no" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	    <title>订单记录</title>
	    <link rel="stylesheet" type="text/css" href="/index/common/css/public.css"/>
	    <link rel="stylesheet" type="text/css" href="/index/order/css/OrderList.css"/>
	</head>
	<body>

		<!--main start-->
		<div class="main">
			<th:block th:each="order:${orderDtos}">
			<div class="order-item">
				<p class="order-item-head">
					<span class="order-num">订单号:
					<th:block th:text="${order.orderId}"></th:block>
					</span>
					<span class="order-price">实付款:￥
						<th:block th:text="${order.payAmount}"></th:block>
					</span>
				</p>
				<th:block th:each="pro:${orderLogic.GetOrderProducts(order.orderId)}">
				<dl class="order-item-dl">
					<dt>
						<th:block th:each="image:${productLogic.GetProductImgDtos(pro.productId)}">
							<img th:src="${image.imgPath}"
								 th:if="${image.productImgType eq enumLogic.GetProductImgType(0)}"
								 width="100%"/>
						</th:block>
					</dt>
					<dd>
						<h2 class="order-dd-name">
							<th:block th:text="${productLogic.GetProduct(pro.productId).productName}"></th:block>
						</h2>
						<p class="order-dd-tips">X
							<th:block th:text="${pro.number}"></th:block>
							</p>
						<p class="order-dd-time">购买时间:
							<th:block th:text="${dateUtils.formatDateByUnixTime(order.payTime, 'yyyy-MM-dd HH:mm:ss')}"></th:block>
						</p>
					</dd>
				</dl>
				</th:block>
			</div>
			</th:block>
		</div>
		<!--main end-->
		
		<!--引入js-->
		<script src="/index/common/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/index/common/js/size.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
