stages:
- build

build_ob:
  stage: build
  tags:
    - build
  only:
    - master.v2
  script:
    - echo "开始编译"
    - echo $PWD
    - mvn clean package -DskipTests

    - echo "开始发布"
    - pname="memberob"
    - if [ $(docker ps -a -q -f "name=test-$pname" | wc -l) -eq 1 ] ;
    -   then docker stop $(docker ps -a -q -f "name=test-$pname") && docker rm $(docker ps -a -q -f "name=test-$pname") ;
    - fi
    - docker run -d -v "$PWD/target/":/usr/src/myapp -e TZ="Asia/Shanghai" -p 8090:80 --name "test-$pname"  -w /usr/src/myapp  docker.io/java java -jar memberob.jar --spring.profiles.active=pub -Duser.timezone=Asia/Jerusalem
    - echo "发布成功"


build_deploy:
  stage: build
  tags:
    - build
  only:
    - master
  script:
    - echo "开始编译"
    - echo $PWD

    - echo "开始发布"
    - pname="memberob"

    - docker run -i --rm -v /opt/.m2:/root/.m2 -v $PWD:/usr/src/mymaven -w /usr/src/mymaven maven:3.5.3-jdk-8 mvn clean package -DskipTests
    - echo "编译并打包服务 [OK]"

    - docker build --no-cache -t maven.jsjit.cn:9911/member/ob:latest .
    - echo "构建镜像 [OK]"

    - docker push maven.jsjit.cn:9911/member/ob:latest
    - echo "推送镜像 [OK]"

    - if [[ $(docker ps -f "name=${pname}" -q | wc -l) -ne 0 ]]; then
    -   docker stop $(docker ps -f "name=${pname}" -q)
    - fi

    - docker run -d --rm -p 8090:80 -e RUN_MODEL="--spring.profiles.active=pub" --name ${pname} maven.jsjit.cn:9911/member/ob:latest

    - echo "服务创建 [OK]"



