html,body{ background: #F5F5F5;}

/*main start*/

/*---------- order-item ----------*/
.order-item{ padding: 0 0.3rem; background: #fff; margin-bottom: 0.2rem;}
.order-item-head{ padding-top: 0.3rem; font-family: "microsoft yahei",arial; border-bottom: 1px solid #eee;}
.order-num{ font-size: 0.36rem; color: #333; font-weight: 700; float: left;}
.order-price{ font-size: 0.3rem; color: #C2191F; font-weight: 700; float: right;}
.order-item-dl{ padding: 0.3rem 0; position: relative; border-bottom: 1px solid #eee;}
.order-item-dl dt{ width: 2rem; height: 2rem; position: absolute; top: 0.3rem; left: 0;}
.order-item-dl dt img{ width: 2rem; height: 2rem;}
.order-item-dl dd{ min-height: 2rem; margin: 0 0.3rem 0 2.2rem; font-family: "microsoft yahei",arial; position: relative;}
.order-dd-name{ line-height: 1.2; font-size: 0.36rem; color: #333; font-weight: 700; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.order-dd-tips{ line-height: 1.2; font-size: 0.3rem; color: #999; padding-top: 0.2rem;}
.order-dd-time{ display: block; font-size: 0.26rem; color: #666; padding: 0.3rem 0;}

/*----------- state-list ----------*/
.state-list{ height: 0.6rem; padding: 0.3rem 0;}
.state-list-p{ float: right;}
.state-list-p a{ display: block; width: 1.7rem; height: 0.6rem; line-height: 0.6rem; text-align: center; font-size: 0.28rem; color: #333; border: 1px solid #DEDEDE; border-radius: 30px; float: left; margin-left: 0.2rem;}
/*main end*/

