html,body{ background: #F5F5F5;}

/*nav-list start*/
.nav{ height: 1.68rem;}
.nav-list{ background: #fff; padding: 0.4rem; position: fixed; top: 0; left: 0; right: 0; z-index: 100;}
.nav-list-ul{ height: 0.84rem; background: #fff; border: 1px solid #C2191F; border-radius: 5px; overflow: hidden;}
.nav-list-ul li{ width: 50%; line-height: 0.88rem; text-align: center; font-size: 0.3rem; color: #C2191F; float: left;}
.nav-list-ul .active{ background: #C2191F; color: #fff;}
/*nav-list end*/

/*main start*/
.give-item{ display: none;}
.give-item-dl{ background: #fff; padding: 0.4rem; margin-bottom: 0.2rem; position: relative;}
.give-item-dl dt{ width: 2.4rem; height: 2.4rem; position: absolute; top: 0.4rem; left: 0.4rem;}
.give-item-dl dt img{ width: 2.4rem; height: 2.4rem;}
.give-item-dl dd{ min-height: 2.4rem; margin: 0 0.3rem 0 2.7rem; font-family: "microsoft yahei",arial; position: relative;}
.give-dd-p{ line-height: 1.2; overflow: hidden; padding: 0.3rem 0 0.18rem;}
.give-dd-name{ font-size: 0.36rem; color: #333; font-weight: 700; float: left;}
.give-state-gray{ font-size: 0.3rem; color: #999; float: right;}
.give-state-red{ font-size: 0.3rem; color: #C2191F; float: right;}
.give-dd-tips{ line-height: 1.2; font-size: 0.3rem; color: #999;}
.give-dd-time{ height: 0.6rem; line-height: 0.6rem; font-size: 0.28rem; color: #666; position: absolute; left: 0; bottom: 0; right: 0;}
/*main end*/