html,body{ background: #F5F5F5;}
/*main start*/
.main{ margin: 0 0.3rem;}
.gold-card-img{ display: block; width: 4rem; margin: 0.8rem auto;}
.gold-card-title{ line-height: 1.2; font-size: 0.32rem; color: #333; border-left: 3px solid #C2191F; padding-left: 0.18rem; margin: 0.2rem 0.3rem 0.4rem;}
.gold-card-item{ height: 1.1rem; padding: 0 0.2rem; background: #fff; border-radius: 5px; margin-bottom: 0.2rem; position: relative;}
.gold-card-lable{ display: block; width: 1.6rem; height: 1.1rem; line-height: 1.1rem; font-size: 0.3rem; color: #999; position: absolute; top: 0; left: 0.2rem;}
.lable-id{ font-size: 0.3rem; color: #C2191F;}
.gold-card-rt{ padding: 0.25rem 0 0.25rem 1.8rem;}
.gold-card-input{ border: 0; height: 0.6rem; line-height: 0.6rem; font-size: 0.32rem; color: #333; text-indent: 5px; padding: 0 !important;}
.gold-card-input::-webkit-input-placeholder{ font-size: 0.32rem;}
/*main end*/

.sumbit-btn{ display: block; height: 1.1rem; line-height: 1.1rem; text-align: center; font-size: 0.36rem; color: #fff; background: #C2191F; position: fixed; left: 0; bottom: 0; right: 0; z-index: 100;}

.address-input{ display: block; height: 0.6rem; line-height: 0.6rem; font-size: 0.28rem; color: #333; border: 0; padding: 0 !important; text-indent: 5px;}