/*purchase-layer start*/
.purchase-layer-bg{ width: 100%; background: #000; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5;  opacity: 0.5; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 200;}
.purchase-layer-con{ background: #fff; position: fixed; right: 0; bottom: 0; left: 0; z-index: 201;}
.purchase-layer-main{ padding: 0 0.6rem;}

.purchase-layer-div{ overflow: hidden; margin-bottom: 0.4rem;}
.purchase-layer-lable{ display: block; font-size: 0.28rem; color: #999; padding-bottom: 0.35rem;}

.purchase-layer-content{ max-height: 9rem; overflow: scroll; -webkit-overflow-scrolling: touch;}
.purchase-layer-content::-webkit-scrollbar{ display: none;}

/*---------- purchase-num ----------*/
.purchase-num{ border: 1px solid #DEDEDE; border-radius: 3px; width: 2.1rem; line-height: 0.6rem; overflow: hidden; float: left;}
.purchase-num em{ display: block; width: 0.7rem; height: 0.6rem; float: left; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}
.purchase-num .purchase-num-reduce{ background: url(../images/reduce_cion.png) no-repeat center center; background-size: 0.26rem 0.06rem;}
.purchase-num .purchase-num-add{ background: url(../images/add_icon.png) no-repeat center center; background-size: 0.26rem 0.26rem;}
.purchase-num .num{ display: block; width: 0.7rem; height: 0.6rem; line-height: 0.6rem; text-align: center; font-size: 0.28rem; color: #333; font-family: "microsoft yahei",arial; border: 0; border-left: 1px solid #DEDEDE; border-right: 1px solid #DEDEDE; float: left;}

/*---------- purchase-discount ----------*/
.purchase-discount{ margin-bottom: 0.4rem;}
.purchase-discount-head{ border-bottom: 1px solid #eee; padding: 1rem 0.4rem 0.4rem; font-family: "microsoft yahei",arial; position: relative;}
.purchase-discount-tips{ width: 2.04rem; height: 0.6rem; line-height: 0.6rem; text-align: center; background: #FFA540; position: absolute; top: 0; left: 0;}
.purchase-discount-tips span{ font-size: 0.34rem; color: #fff; background: url(../images/com_icon.png) no-repeat left; background-size: 0.28rem 0.28rem; padding-left: 0.48rem;}
.purchase-discount-name{ line-height: 1.2; font-size: 0.36rem; color: #333; font-weight: 700;}
.purchase-discount-text{ font-size: 0.26rem; color: #999; padding-top: 0.2rem;}
.purchase-discount-list{ border-bottom: 1px solid #eee; padding: 0 0.4rem; font-family: "microsoft yahei",arial;}
.discount-list-dl{ padding: 0.2rem 0; border-top: 1px solid #eee; position: relative;}
.discount-list-dl:first-child{ border: 0;}
.discount-list-dl dt{ width: 1.76rem; height: 1.76rem; position: absolute; top: 0.2rem; left: 0;}
.discount-list-dl dt img{ width: 1.76rem; height: 1.76rem;}
.discount-list-dl dd{ min-height: 1.76rem; margin-left: 2.16rem; font-family: "microsoft yahei",arial;}
.discount-dl-name{ line-height: 1.2; font-size: 0.32rem; color: #000000; font-weight: 700; padding-top: 0.2rem;}
.discount-dl-tips{ font-size: 0.28rem; color: #888; padding: 0.2rem 0;}
.discount-dl-p{ line-height: 1.2; overflow: hidden;}
.discount-dl-price{ font-size: 0.28rem; color: #333; float: left;}
.discount-dl-price{ font-size: 0.30rem; color: #333; float: right;}

/*---------- purchase-discount ----------*/
.purchase-footer{ height: 1.1rem; background: #fff; border-top: 0.02rem solid #DEDEDE;}
.footer-lt{ width: 60%; line-height: 1.1rem; float: left;}
.shopping-price{ line-height: 1rem; font-size: 0.24rem; color: #C2191F; float: left; margin-left: 0.2rem;}
.shopping-price em{ font-size: 0.44rem; color: #C2191F; font-weight: 700;}
.purchase-btn,.purchase-show-btn{ width: 40%; height: 1.1rem; line-height: 1.1rem; text-align: center; font-size: 0.36rem; color: #fff; background: #C2191F; float: left;}

/*purchase-layer end*/