html,body{ background: #f5f5f5;}

/*nav start*/
.navHeight{ height: 1.6rem;}
.nav-wrap{ background: #fff; height: 0.6rem; padding: 0.5rem 0;}
.nav-wrap-fix{ position: fixed; top: 0; left: 0; right: 0; z-index: 100;}
.clearfix li{ width: 25%; height: 0.6rem; line-height: 0.6rem; text-align: center; float: left;}
.clearfix li a{ font-size: 0.32rem; color: #999;}
.clearfix li .active{ color: #C2191F; border-bottom: 2px solid #C2191F;}
/*nav end*/

/*section start*/
.section{ background: #fff; margin-bottom: 0.2rem;}
.section-title{ line-height: 1.2; text-align: center; font-size: 0.44rem; color: #000; font-weight: 700; padding: 0.8rem 0 0.6rem;}
#section1 .section-title{ padding: 0 0 0.6rem;}

/*---------- quality-trip ----------*/
.section-con{ padding: 0 0.2rem; overflow: hidden;}
.section-con a:nth-child(2n) .section-con-dl{ float: right;}
.section-con-dl{ width: 48.5%; float: left; margin-bottom: 0.6rem;}
.section-con-dl dd{ padding: 0.3rem 0; font-family: "microsoft yahei",arial;}
.section-dl-title{ line-height: 1.2; font-size: 0.36rem; color: #000; font-weight: 700;}
.section-dl-tips{ font-size: 0.28rem; color: #818181; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 0.2rem 0;}
.section-dl-price{ font-size: 0.2rem; color: #A63838;}
.section-dl-price em{ font-size: 0.36rem; font-weight: 700;}
.section-dl-price span{ font-size: 0.24rem; color: #888; text-decoration: line-through; margin-left: 0.1rem;}

/*---------- limited-time ----------*/
.SecKill-time{ text-align: center; font-size: 0.4rem; color: #C2191F; font-family: "microsoft yahei",arial;}
.SecKill-time span{ display: inline-block; width: 1rem; height: 1rem; line-height: 1rem; text-align: center; font-size: 0.44rem; color: #fff; background: #C2191F; border-radius: 3px;}

.limited-time-goods{ padding: 0.8rem 0 0; width: 100%; overflow-x: auto; -webkit-overflow-scrolling: touch;}
.limited-time-goods::-webkit-scrollbar{ display: none;}
.limited-goods-con{ width: 10000%;}
.section-con-dlS{ width: 2.7rem; float: left; margin-right: 0.2rem;}
.limited-time-goods-div a:first-child .section-con-dlS{ margin-left: 0.2rem;}
.section-con-dlS .section-dl-price{ padding-top: 0.1rem;}
/*section end*/

/*footer-tips start*/
.footer-tips{ width: 60%; border-top: 1px solid #DEDEDE; text-align: center; margin: 0.5rem auto;}
.footer-tips legend{ font-size: 0.24rem; color: #C6C6C6; padding: 0 0.3rem;}
/*footer-tips end*/

/*shopping-cart start*/
.shopping-cart{ position: fixed; right: 0.2rem; bottom: 0.6rem; z-index: 100;}
.shopping-icon{ width: 1.26rem;}
.shopping-num{ display: block; width: 0.4rem; height: 0.4rem; line-height: 0.4rem; text-align: center; font-size: 0.24rem; color: #fff; background: #C2191F; border-radius: 50%; position: absolute; top: 0; right: 0; z-index: 101;}
/*shopping-cart end*/