/*banner start*/
.banner-dl{ padding: 0.6rem 0 0.8rem; text-align: center;}
.banner-dl dt{ width: 2.4rem; margin: auto;}
.banner-dl dt img{ width: 2.4rem; height: 2.4rem;}
.banner-dl dd{ padding-top: 0.4rem;}
.banner-dl-name{ line-height: 1.2; font-size: 0.36rem; color: #333; font-weight: 700;}
.banner-dl-tips{ line-height: 1.2; font-size: 0.3rem; color: #999; padding-top: 0.1rem;}
.swiper-pagination-bullet{ width: 0.3rem; height: 0.08rem; background: #fff; border: 1px solid #AEAEAE; border-radius: 30px; opacity: 1;}
.swiper-pagination-bullet-active{ background: #C2191F; border-color: #C2191F;}
/*banner end*/

/*main start*/
.main{ margin: 0.8rem 0.2rem 1.1rem;}
.blessings{ overflow: hidden; background: #FBF6EF; border: 1px solid #EAC8AE; border-radius: 5px;}
.blessings-con{ position: relative;}
.icon-douhao-lt{ width: 0.44rem; position: absolute; top: 0.6rem; left: 0.6rem;}
.icon-douhao-rt{ width: 0.44rem; position: absolute; bottom: 0.6rem; right: 0.6rem;}
.blessings-p{ line-height: 1.4; font-size: 0.44rem; color: #CC6D2C; padding: 0.6rem 1.3rem;}
.give-come-from{ float: right; margin: 0 0.6rem 0.2rem 0;}
.give-head-img{ width: 0.44rem; height: 0.44rem; border-radius: 50%;}
.give-come-from-text{ line-height: 0.44rem; font-size: 0.3rem; color: #AF693A ;}
/*main end*/

/*footer start*/
.footer{ height: 1.1rem; background: #C2191F; position: fixed; left: 0; bottom: 0; right: 0; z-index: 100;}
.footer-ul{}
.footer-ul li{ width: 50%; height: 1.1rem; line-height: 1.1rem; text-align: center; font-family: "microsoft yahei",arial; float: left; position: relative;}
.footer-ul li:first-child:before{ content: ""; position: absolute; top: 50%; margin-top: -0.24rem; right: 0; height: 0.48rem; border-left: 1px solid #fff;}
.share-btn,.mystock-btn{ font-size: 0.36rem; color: #fff;}
.mystock-num{ display: inline-block; width: 0.4rem; height: 0.4rem; line-height: 0.4rem; text-align: center; font-size: 0.28rem; color: #C2191F; background: #fff; border-radius: 50%; margin-left: 0.2rem;}
.mystock-tips{ display: block; width: 3.6rem; height: 0.48rem; line-height: 0.48rem; text-align: center; font-size: 0.24rem; color: #C2191F; background: #fff; border: 1px solid #C2191F; border-radius: 3px; position: absolute; top: -0.8rem;}
.mystock-tips:before{ content: ""; position: absolute; bottom: -0.08rem; right: 0.2rem; width: 0.12rem; height: 0.12rem; background: #fff; border-right: 1px solid #C2191F; border-bottom: 1px solid #C2191F; -mos-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}
/*footer end*/