html,body{ background: #F5F5F5;}
.check-all-wxz{ position: relative;}
.check-all-wxz:before{ content: ""; position: absolute; top: 50%; left: 0; margin-top: -0.15rem; width: 0.26rem; height: 0.26rem; border-radius: 50%; border: 1px solid #979797;}
.check-all-xz:before{ content: ""; border-color: #C2191F; background: #C2191F;}
.check-all-xz:after{ content: ""; position: absolute; top: 50%; left: 0.12rem; margin-top: -0.1rem; width: 0.06rem; height: 0.14rem; border-bottom: 1px solid #fff; border-right: 1px solid #fff; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}

/*head start*/
.head{height: 1.2rem;}
.head-title{ height: 1.2rem; line-height: 1.2rem; background: #fff; padding: 0 0.3rem; position: fixed; top: 0; left: 0; right: 0; z-index: 100;}
.head-title span{ font-size: 0.32rem; color: #333; border-left: 2px solid #C01118; padding-left: 0.18rem;}
/*head end*/

/*main start*/
.main{ margin-bottom: 1.3rem;}
/*---------- goods-list-item ----------*/
.goods-list-item{ height: 3rem; background: #fff; margin-top: 0.2rem; position: relative;}
.checkone{ display: block; width: 0.4rem; height: 0.4rem; position: absolute; top: 50%; left: 0.3rem; margin-top: -0.15rem;}
.checkone.check-all-wxz:before{ content: ""; width: 0.36rem; height: 0.36rem; margin-top: -0.2rem;}
.checkone.check-all-xz:after{ content: ""; left: 0.16rem;}
.goods-list-dl{ padding: 0.3rem 0; margin-left: 1rem; position: relative;}
.goods-list-dl dt{ width: 2.4rem; height: 2.4rem; position: absolute; top: 0.3rem; left: 0;}
.goods-list-dl dt img{ width: 2.4rem; height: 2.4rem;}
.goods-list-dl dd{ height: 2.4rem; margin: 0 0.3rem 0 2.7rem; font-family: "microsoft yahei",arial;}
.goods-dl-name{ margin: 0.2rem 0; line-height: 1.2; font-size: 0.36rem; color: #333; font-weight: 700; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.goods-dl-tips{ display: block; font-size: 0.28rem; color: #333;}
.goods-dl-price{ display: block; font-size: 0.28rem; color: #333; margin: 0.2rem 0;}

.purchase-num{ border: 1px solid #DEDEDE; border-radius: 3px; width: 2.1rem; line-height: 0.6rem; overflow: hidden; float: right;}
.purchase-num em{ display: block; width: 0.7rem; height: 0.6rem; float: left; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}
.purchase-num .purchase-num-reduce{ background: url(../images/reduce_cion.png) no-repeat center center; background-size: 0.26rem 0.06rem;}
.purchase-num .purchase-num-del{ background: url(../images/del_icon.png) no-repeat center center; background-size: 0.3rem 0.3rem;}
.purchase-num .purchase-num-add{ background: url(../images/add_icon.png) no-repeat center center; background-size: 0.26rem 0.26rem;}
.purchase-num .num{ display: block; width: 0.7rem; height: 0.6rem; line-height: 0.6rem; text-align: center; font-size: 0.28rem; color: #333; font-family: "microsoft yahei",arial; border: 0; border-left: 1px solid #DEDEDE; border-right: 1px solid #DEDEDE; float: left;}
.purchase-num-tips{ line-height: 0.6rem; font-size: 0.3rem; color: #C2191F; float: left; margin-left: 0.2rem;}

/*main end*/

/*footer start*/
.footer{ height: 1.1rem; background: #fff; border-top: 1px solid #DEDEDE; position: fixed; bottom: 0; left: 0; right: 0; z-index: 100;}
.footer-lt{ width: 60%; line-height: 1.1rem; float: left;}
.footer-lt-text{ font-size: 0.26rem; color: #333; padding-left: 0.4rem; margin-left: 0.2rem;}
.total-price{ font-size: 0.24rem; color: #C2191F; padding-left: 0.3rem;}
.total-price em{ font-size: 0.44rem; font-weight: 700;}
.purchase-btn{ width: 40%; height: 1.1rem; line-height: 1.1rem; text-align: center; font-size: 0.36rem; color: #fff; background: #C2191F; float: left;}
/*footer end*/

/*delete-layer start*/
.delete-layer-bg{ width: 100%; background: #000; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5;  opacity: 0.5; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 200;}
.delete-layer-con{ width: 5.8rem; background: #fff; border-radius: 8px; position: fixed; top: 50%; left: 50%; margin: -1.8rem 0 0 -2.9rem; z-index: 201;}
.delete-layer-title{ text-align: center; line-height: 1.2; font-size: 0.4rem; color: #333; font-weight: 700; padding-top: 0.8rem;}
.delete-layer-tips{ padding-left: 0 0.3rem; text-align: center; font-size: 0.24rem; color: #666; padding: 0.4rem 0;}
.delete-layer-p{ border-top: 1px solid #eee;}
.delete-layer-p a{ display: block; width: 50%; height: 1.1rem; line-height: 1.1rem; text-align: center; font-size: 0.36rem; color: #333; float: left; position: relative;}
.delete-layer-cancel:before{ content: ""; position: absolute; top: 0; right: 0; height: 1.1rem; border-left: 1px solid #eee;}
/*delete-layer end*/