<!DOCTYPE html>
<html>
	<head>
		
		<meta charset="utf-8">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="format-detection" content="telephone=no" />
	    <meta name="format-detection" content="email=no" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	    <title>金色严选</title>
	    <link rel="stylesheet" type="text/css" href="css/public.css"/>
	    <link rel="stylesheet" type="text/css" href="css/ReceiveGifts.css"/>
	</head>
	<body>
		<div class="receive-gifts">
			<img src="images/card_img1.png" alt="1" class="give-head-img"/>
			<p class="give-come-from">
				<span>来自</span>
				<span>张鑫</span>
			</p>
			<img src="images/give_default_img.png" alt="1" class="receive-gifts-img"/>
			<p class="receive-gifts-tips">*如果超过24小时未被领取，则退回原账户</p>
			<a href="javascript:void(0);" class="receive-gifts-btn">收下礼物</a>
		</div>
		
		
		<!--引入js-->
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/size.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/ReceiveGifts.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
