<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="format-detection" content="telephone=no" />
	    <meta name="format-detection" content="email=no" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	    <title>我的库存</title>
	    <link rel="stylesheet" type="text/css" href="/index/common/css/public.css"/>
	    <link rel="stylesheet" type="text/css" href="/index/myStock/css/mystock.css"/>
	</head>
	<body>
		<!--head start-->
		<div class="head">
			<ul class="head-ul">
				<li>
					<a th:href="@{'/myStock/orderRecord?openId='+${openId}}">
					<img src="/index/common/images/stock_order_icon.png" alt="1" class="head-ul-icon"/>
                    </a>
					<spastock_bgn class="head-ul-title">订单记录</spastock_bgn>
				</li>
				<li>
                    <a th:href="@{'/myStock/delivery?openId='+${openId}}">
                        <img src="/index/common/images/stock_delivery_icon.png" alt="1" class="head-ul-icon"/>
                    </a>
					<span class="head-ul-title">配送记录</span>
				</li>
				<li>
					<a th:href="@{'/myStock/giveRecord?openId='+${openId}}">
					<img src="/index/common/images/stock_give_icon.png" alt="1" class="head-ul-icon"/>
					</a>
					<span class="head-ul-title">赠送记录</span>
				</li>
				<li>
					<img src="/index/common/images/stock_coupon_icon.png" alt="1" class="head-ul-icon"/>
					<span class="head-ul-title">优惠券</span>
				</li>
			</ul>
		</div>
		<!--head end-->
		
		<!--banner start-->
		<!--<div th:replace="/index/header::html"></div>-->
		<div class="banner clear" style="display: none;">
			<img src="/index/common/images/banner.png" alt="1" />
		</div>
		<!--banner end-->
		
		<!--main start-->
		<div class="main clear">
			<h2 class="stock-title">库存商品</h2>
			<div class="share-fail">
				<p class="share-fail-tips">您有已<span>1</span>个礼包分享失败</p>
				<a href="javascript:void(0);" class="share-fail-look">查看 ></a>
			</div>
			<div class="strok-list">
				<th:block th:each="stock:${stockDtos}">
				<dl class="strok-list-dl clear">
					<dt>
						<a th:attr="href=@{'/goodsDetail/goodsDetail?productId='+${stock.productId}}" class="goods-detail" style="display: none;">详情></a>
						<th:block th:each="image:${productLogic.GetProductImgDtos(stock.productId)}">
							<img th:src="${image.imgPath}"
								 th:if="${image.productImgType eq enumLogic.GetProductImgType(0)}"
								 width="100%"/>
						</th:block>
					</dt>
					<dd>
						<h2 class="strok-dd-name">
							<th:block th:text="${productLogic.GetProduct(stock.productId).productName}"></th:block>
						</h2>
						<p class="strok-dd-tips">
							<th:block th:text="${productLogic.GetProduct(stock.productId).introduce}"></th:block>
						</p>
						<div class="strok-dd-bot">
							<p class="strok-dd-num">库存：<span>
								<th:block th:text="${stock.number}"></th:block>
							</span></p>
							<div class="purchase-num" style="display: none;">
								<em class="purchase-num-reduce"></em>
								<input type="text" th:value="${stock.number}" class="num"/>
								<em class="purchase-num-add"></em>
							</div>
						</div>
					</dd>
				</dl>
				</th:block>
			</div>
		</div>
		<!--main end-->
		
		<!--footer start-->
		<div class="footer" style="display: none;">
			<ul class="footer-ul">
				<li>
					<span class="selected-num">2</span>
					<span class="selected-title">已选</span>
				</li>
				<li>
					<a href="javascript:void(0);" class="share-btn">微信送好友</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="use-btn">我要使用</a>
				</li>
			</ul>
		</div>
		<!--footer end-->
		
		<!--引入js-->
		<script src="/index/common/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/index/common/js/size.js" type="text/javascript" charset="utf-8"></script>
		<script src="/index/mystock/js/mystock.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
