server:
  port: 80


#spring
spring:
  profiles:
    active: dev
  http:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
  aop:
    proxy-target-class: true
  thymeleaf:
    mode: LEGACYHTML5
    encoding: utf-8
    cache: false
  mail:
    default-encoding: UTF-8
    host: smtp.sina.com
    password: 111
    port: 465
    protocol: smtp
    username: 111

#mybatis
mybatis-plus:
  mapper-locations: classpath*:/mapper/*Mapper.xml
  #实体扫描，多个package用逗号或者分号分隔
  typeAliasesPackage: com.jsj.member.ob.entity
  #  typeEnumsPackage: com.example.boot.enums.mybatisPlusEnum
  global-config:
    #主键类型  0:"数据库ID自增", 1:"用户输入ID",2:"全局唯一ID (数字类型唯一ID)", 3:"全局唯一ID UUID";
    id-type: 0
    #字段策略 0:"忽略判断",1:"非 NULL 判断"),2:"非空判断"
    field-strategy: 2
    #驼峰下划线转换
    db-column-underline: true
    #刷新mapper 调试神器
    refresh-mapper: true
    #数据库大写下划线转换
    #capital-mode: true
    #序列接口实现类配置
    #key-generator: com.baomidou.springboot.xxx
    #逻辑删除配置（下面3个配置）
    logic-delete-value: 0
    logic-not-delete-value: 1
    #自定义SQL注入器
    #sql-injector: com.baomidou.mybatisplus.mapper.LogicSqlInjector
    #自定义填充策略接口实现
    #meta-object-handler: com.baomidou.springboot.xxx
  configuration:
    map-underscore-to-camel-case: true
    call-setters-on-nulls: true
    cache-enabled: false
    #配置JdbcTypeForNull
    jdbc-type-for-null: 'null'

logging:
  level:
    com:
      jsj:
        member:
          ob:
            dao: debug



webconfig:
  # 图片服务器
  imgServerURL: http://img.jsjinfo.cn/upload
  # 是否上传到图片服务器 (true为上传到图片服务器 false为上传到本地服务器)
  imgServerSwitch: false
  #获取 access_token
  accessTokenUrl: http://s5.jsjinfo.cn/awkmanage/v3/ktapi/GetAccessToken
  #获取 jsapi_ticket
  jsApiTicketUrl: http://s5.jsjinfo.cn/awkmanage/v3/ktapi/GetJsApiTicket
  #通过code获取网页授权access_token
  weChatAccessTokenUrl: http://s5.jsjinfo.cn/awkmanage/v3/ktapi/GetWeChatAccessToken
  #微信公众号支付
  payTradeUrl: http://zs5.jsjinfo.cn/v5/ParTrade.ashx
  #获取活动码 "http://106.38.39.180/awk/Third/ThirdApi/API2Partner.aspx";
  activityUrl: http://172.16.6.134/awk/Third/ThirdApi/API2Partner.aspx

  #授权码
  #  PlatformAppId: wssccaf9-2341-1234-87c1-6ababc10aab3
  #  PlatformToken: wsscr6zfppd8v46b5678f8fxh2xdhv0d22xlx08h8btn6ttxxx4aab3

  #授权码
  PlatformAppId: ws975af9-2341-1234-9751-6ababc10aab3
  PlatformToken: wsscr975ppd8v46b5678f8fxh2xdhv0975xlx08h8btn6tt9754aab3

  #密钥
  token: #wugf543sxcv5*$#

  EBusinessID: 1400214

  AppKey: a31be43c-ff92-4ec8-b748-9627b31e01dd

  ReqURL: http://api.kdniao.cc/Ebusiness/EbusinessOrderHandle.aspx

  virtualPath: ""

  ## 当前站点域名
  host:

  ##二维码查看网址
  qrcodeUrl: http://mobile.qq.com/qrcode?url=%s&width=300&height=300

  ## 严选登录名
  partnerLoginName: jinseyanxuan
  ## 严选登录密码
  partnerLoginPassword: jinseyanxuan_123

  WxTemplate:
    ## 支付成功
    ## {{first.DATA}}
    ## 付款金额：{{keyword1.DATA}}
    ## 交易单号：{{keyword2.DATA}}
    ## {{remark.DATA}}
    PaySuccessed: DygyNvij6eJN34pQbj372iBpZTIYq6HukBcwrcmBhIo

    ## {{first.DATA}}
    ## 产品名称：{{keyword1.DATA}}
    ## 激活时间：{{keyword2.DATA}}
    ## 截止时间：{{keyword3.DATA}}
    ## {{remark.DATA}}
    OpenCardConfirm: Oz_Ldo8XAmB8mEVJsWYJrV3Hjl0p2Ezr3v0UpkvhhkQ

    ## {{first.DATA}}
    ## 顾客昵称：{{keyword1.DATA}}
    ## 消费时间：{{keyword2.DATA}}
    ## {{remark.DATA}}
    QrcodeUseSuccessed: YdD4hzFM3mOnufS2AunKUN18MQUFjEJmOQgtQsk3wt8

    ## {{first.DATA}}
    ## 商品名称：{{keyword1.DATA}}
    ## 数量：{{keyword2.DATA}}
    ## 金额：{{keyword3.DATA}}
    ## 状态：{{keyword4.DATA}}
    ## {{remark.DATA}}
    EntityUseSuccessed: 46zVrmMwlvcE0UgnSog1M43jFmEcPyzFnSm1_kb2oOg

    ## {{first.DATA}}
    ## 订单号：{{keyword1.DATA}}
    ## 产品名称：{{keyword2.DATA}}
    ## 订单金额：{{keyword3.DATA}}
    ## 订单取消原因：{{keyword4.DATA}}
    ## {{remark.DATA}}
    CancelUnPayOrder: pRqThOciBj7f9ZnOFYa6CsVrsjo8tvk9icCGcHlKXOs


