<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:td="http://www.w3.org/1999/html"
      layout:decorator="admin/layout">
<script src="static/common/plugins/layui/layui.js" charset="utf-8"></script>
<link rel="stylesheet" href="static/common/plugins/layui/css/layui.css" media="all">
<div layout:fragment="content" class="admin-main layui-anim" style="margin: 15px;">

    <div class="admin-main layui-anim">
        <blockquote class="layui-elem-quote" style="float: left;width:97%;">

            <form class="layui-form" method="get" style="float:left;">
                <div class="layui-form-item" style="margin:0;">

                    <label class="layui-form-label" style="width: auto">优惠券类型</label>
                    <div class="layui-input-inline">
                        <select name="typeId" title="所属类型">
                            <option value="">类型</option>
                            <th:block th:each="couponType : ${couponTypes}">
                                <option th:value="${couponType.value}" th:text="${couponType.message}"
                                        th:selected="${couponType.value == typeId}"></option>
                            </th:block>
                        </select>
                    </div>

                    <label class="layui-form-label" style="width: auto">优惠券名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="keys" placeholder="输入优惠券名……" th:value="${keys}" autocomplete="off"
                               class="layui-input"/>
                    </div>
                    <div class="layui-input-inline" style="width: auto;">
                        <button lay-filter="search" class="layui-btn" type="submit" style="float: right;">
                            <i class="layui-icon">&#xe615;</i> 查询
                        </button>
                    </div>

                </div>
            </form>
        </blockquote>
        <div class="layui-field-box layui-form">
            <table style="width:100%;">
                <tr>
                    <td>
                        <table class="layui-table" style="margin: 3px 0;" lay-size="sm">
                            <thead>
                            <tr>
                                <th style="width: 5%;">
                                    <input type="checkbox" lay-ignore style="width:20px;height:20px;"
                                           name="coupon"></th>
                                <th>名称</th>
                                <th style="width: 15%;">金额</th>
                                <th style="width: 15%;">类型</th>
                                <th style="width: 15%;">使用范围</th>
                                <th style="width: 15%;">有效天数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="info : ${infos.list}">
                                <th:block th:with="pro=${couponLogic.GetCoupon(info.couponId)}">
                                    <td>
                                        <input type="checkbox" lay-ignore style="width:20px;height:20px;"
                                               th:value="${pro.couponId}"
                                               name="coupon">
                                    </td>
                                    <td th:text="${pro.couponName}"></td>
                                    <td th:text="${pro.amount}"></td>
                                    <td>
                                        <th:block
                                                th:text="${enumLogic.GetCouponType(pro.couponType).message}"></th:block>
                                    </td>
                                    <td>
                                        <th:block
                                                th:text="${enumLogic.GetCouponUseRange(pro.couponUseRange).message}"></th:block>
                                    </td>
                                    <td th:text="${pro.validDays}"></td>
                                </th:block>
                            </th:block>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>

            <div th:replace="comm/macros :: pageAdminNav(${infos})"></div>

        </div>

        <div class="layui-form-item" style="display: none;">
            <div class="layui-input-block" style="margin-left: 15px;">
                <button type="button" class="layui-btn" lay-submit id="btnChooseProducts" th:attr="data-id=${openId}">
                    <i class="layui-icon">&#xea97;</i>
                    添加
                </button>
                <button type="button" class="layui-btn" id="btnClose">
                    <i class="layui-icon">&#xe68d;</i>
                    关闭
                </button>
            </div>
        </div>
    </div>

</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        TX.INIT(function (layui) {

            $("table.layui-table tr").each(function (obj) {

                $("td:gt(0)", $(this)).click(function () {
                    var ck = $(":checkbox", $(this).parent("tr:first"));
                    if (ck.length) {
                        if (ck.attr("checked")) {
                            ck.removeAttr("checked");
                        } else {
                            ck.attr("checked", "checked");
                        }
                    }
                });
            });

            $("#btnChooseProducts").click(function () {
                var couponIds = [];
                $(":checkbox[name='coupon']:checked").each(function () {
                    couponIds.push(this.value);
                });

                if (couponIds.length == 0) {
                    layer.msg('请选择优惠券', {icon: 2});
                    return false;
                }
                var openId = $(this).attr("data-id");

                TX.CORE.p({
                    data: {couponIds: couponIds.join(',')},
                    url: "/admin/wechat/addCoupon/" + openId,
                    success: function (resp) {
                        if (resp.baseResp.success) {
                            TX.MSG.msg(resp.baseResp.message, {time: 1500}, function () {
                                parent.window.layer.close(parent.window.TX.TEMP.LAYERINDEX);
                                location.href = location.href;
                            });
                        } else {
                            TX.MSG.msg(resp.baseResp.message, {icon: 2});
                        }
                    }
                });
            });
        });

    </script>
</th:block>
</html>