<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/layout">
<div layout:fragment="content" class="admin-main layui-anim">
    <div class="admin-main layui-anim">
        <blockquote class="layui-elem-quote" style="float: left;width:97%;">
            <form class="layui-form" method="get" style="float:right;">
                <div class="layui-form-item" style="margin:0;">
                    <label class="layui-form-label">关键字</label>
                    <div class="layui-input-inline">
                        <input type="text" name="keys" placeholder="昵称、OpenId……" th:value="${keys}" autocomplete="off"
                               class="layui-input"/>
                    </div>
                    <div class="layui-input-inline">
                        <button lay-filter="search" class="layui-btn" type="submit" style="float: right;">
                            <i class="layui-icon">&#xe615;</i> 查询
                        </button>
                    </div>
                </div>
            </form>
        </blockquote>
        <div class="layui-field-box layui-form">
            <table class="layui-table admin-table">
                <thead>
                <tr>
                    <th style="width: 5%;"></th>
                    <th>OpenId</th>
                    <th style="width: 10%;">昵称</th>
                    <th style="width: 10%;">订单<br/>库存</th>
                    <th style="width: 5%;">性别</th>
                    <th style="width: 15%;">关注时间</th>
                    <th style="width: 15%;">创建时间</th>
                    <th style="width: 20%;">操作</th>
                </tr>
                </thead>
                <tbody id="content">
                <th:block th:each="info : ${infos.list}">
                    <tr>
                        <td>
                            <img th:src="${info.headimgurl}" style="width:50px;height: 50px;"/>
                        </td>
                        <td>
                            <th:block th:text="${info.openId}"></th:block>
                        </td>
                        <td th:text="${info.nickname}"></td>
                        <td>

                            <button type="button" th:title="|${info.nickname} 订单列表|"
                                    th:attr="data-tab-href=@{'/admin/order?keys='+${info.openId}}"
                                    class="layui-btn layui-btn-xs layui-btn-normal"
                                    th:text="|订单：${orderLogic.GetOrderCount(info.openId)}|"
                                    style="float: left;margin-bottom: 5px;">
                                <i class="layui-icon">&#xe63c;</i>
                            </button>
                            <br/>
                            <button type="button" th:title="|${info.nickname} 库存列表|"
                                    th:attr="data-tab-href=@{'/admin/wechat/'+${info.openId}+'/stock'}"
                                    class="layui-btn layui-btn-xs layui-btn-normal"
                                    th:text="|库存：${stockLogic.GetStockCount(info.openId)}|" style="float: left;">
                                <i class="layui-icon">&#xe610;</i>
                                库存
                            </button>
                        </td>
                        <td th:text="${enumLogic.GetSexType(info.sex).message}"></td>
                        <td th:text="${dateUtils.formatDateByUnixTime(info.subscribeTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${dateUtils.formatDateByUnixTime(info.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>

                            <button type="button" class="layui-btn layui-btn-xs layui-btn-normal"
                                    name="btnChooseCoupons" th:attr="data-id=${info.openId}">
                                <i class="layui-icon">&#xe658;</i>
                                赠券
                            </button>

                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div th:replace="comm/macros :: pageAdminNav(${infos})"></div>
    </div>

</div>


<th:block layout:fragment="script">
    <script th:inline="javascript">

        TX.INIT(function () {

            $("button[data-method]").click(function () {

                var id = $(this).attr("data-id");
                var method = $(this).attr("data-method");

                if (method == "delete") {
                    layer.confirm('确定删除该信息吗?', {icon: 3}, function (index) {
                        layer.close(index);
                        modifyStatus(method, id);
                    });
                }
            });

            //选择优惠券
            $("button[name='btnChooseCoupons']").click(function () {
                var openId = $(this).attr("data-id");
                window.TX.TEMP.LAYERINDEX = window.layer.open({
                    title: "",
                    type: 2,
                    btn: ['选择', '关闭'],
                    content: "/admin/wechat/giveCoupon/" + openId,
                    area: ["800px", "600px"],
                    yes: function (index, layero) {
                        var iframe = layero.find('iframe');
                        iframe.contents().find("button[lay-submit]").click();
                    }
                });
            });
        });

        function modifyStatus(method, id) {

            TX.CORE.p({
                data: {method: method, id: id},
                url: "/admin/wechat/status",
                success: function (resp) {
                    if (resp.baseResp.success) {
                        TX.MSG.msg(resp.baseResp.message, {time: 1500}, function () {
                            location.href = location.href;
                        });
                    } else {
                        TX.MSG.msg(resp.baseResp.message, {icon: 2});
                    }
                }
            });
        }

    </script>
</th:block>

</html>