<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="index/common/layout">

<!-- 优惠券列表 \document\html\KTGJService\coupon.html -->
<head th:replace="index/common/layout :: header('优惠券列表', '', '')"></head>

<th:block layout:fragment="script">
    <script th:src="${ob.Url('/index/js/swiper/js/swiper.min.js')}" type="text/javascript" charset="utf-8"></script>
    <script th:src="${ob.Url('/index/js/CouponList.js')}" type="text/javascript" charset="utf-8"></script>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/js/swiper/css/swiper.min.css')}"/>
    <link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/css/CouponList.css')}"/>
</th:block>

<div layout:fragment="content">
    <!-- coupon-list start-->
    <div class="coupon-list" th:if="${!#lists.isEmpty(wechatCouponDtos)}">
        <th:block th:each="info:${wechatCouponDtos}">
            <!--未使用-->
            <th:block th:if="${info.couponStatus.value == 0}">
                <div class="coupon-item">
                    <div class="coupon-item-back">
                        <div class="coupon-item-lt">


                            <p th:if="${info.couponType.value == 1}" class="coupon-item-price"><span
                                    th:text="| ${#numbers.formatInteger(info.amount,0,'NONE')}|"></span>
                                <span>&yen;</span>
                            </p>
                            <p th:if="${info.couponType.value == 2}" class="coupon-item-price"><span
                                    th:text="|${info.amount}|"></span>
                                <span>折</span>
                            </p>

                            <p class="coupon-price-tips" th:text="${info.couponDto.remarks}">满1000元可用</p>
                        </div>
                        <div class="coupon-item-rt">
                            <p class="coupon-item-name" th:text="${info.couponType.message}">满减券</p>
                            <p class="coupon-item-time"
                               th:text="|至${dateUtils.formatDateByUnixTime(info.expiredTime, 'yyyy-MM-dd')}过期|">
                                至2018-11-11过期</p>
                            <p class="coupon-rule-btn">使用规则</p>
                        </div>
                    </div>
                    <a th:href="${ob.Nav('/')}">
                        <span class="coupon-item-tips">立即使用</span>
                    </a>
                </div>
            </th:block>

            <!--已使用，已过期-->
            <th:block th:if="${info.couponStatus.value != 0}">
                <div class="coupon-item Invalid-item">
                    <div class="coupon-item-back">
                        <div class="coupon-item-lt">
                            <p class="coupon-item-price" th:if="${info.couponType.value == 1}">
                                <span th:text="|${#numbers.formatInteger(info.amount,0,'NONE')}|"></span><span>&yen;</span>
                            </p>
                            <p class="coupon-item-price" th:if="${info.couponType.value == 2}">
                                <span th:text="|${info.amount}|"></span><span>折</span>
                            </p>
                            <p class="coupon-price-tips" th:text="${info.couponDto.remarks}">满1000元可用</p>
                        </div>
                        <div class="coupon-item-rt">
                            <p class="coupon-item-name" th:text="${info.couponType.message}">满减券</p>
                            <p class="coupon-item-time"
                               th:text="|至${dateUtils.formatDateByUnixTime(info.expiredTime, 'yyyy-MM-dd')}过期|">
                                至2018-11-11过期</p>
                            <p class="coupon-rule-btn">使用规则</p>
                        </div>
                    </div>
                    <span class="coupon-item-tips" th:text="${info.couponStatus.message}">已过期</span>
                </div>
            </th:block>


            <!--活动说明 start-->
            <div class="IllustrateLayer" style="display: none;">
                <div class="IllustrateLayerCon">
                    <h2 class="IllustrateTitle">使用规则</h2>
                    <ul class="IllustrateList">
                        <p th:utext="${info.couponDto.instruction}"></p>
                    </ul>
                </div>
                <p class="closeBtn_p">
                    <img th:src="${ob.Img('/index/images/rule_close.png')}" alt="1" class="four_close"/>
                </p>
            </div>
            <!--活动说明 end-->

        </th:block>

    </div>
    <!--coupon-list end-->

    <!--coupon-no-list start-->
    <dl class="coupon-no-list" th:if="${#lists.isEmpty(wechatCouponDtos)}">
        <dt><img th:src="${ob.Img('/index/images/coupon_icon.png')}" alt="1" width="62px"/></dt>
        <dd>没有可使用的优惠</dd>
    </dl>
    <!--coupon-no-list end-->
</div>
