<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorator="index/common/layout">

<head th:replace="index/common/layout :: header('物流信息', '', '')"></head>

<th:block layout:fragment="script">
	<script th:src="${ob.Url('/index/js/swiper/js/swiper.min.js')}" type="text/javascript" charset="utf-8"></script>
</th:block>

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/js/swiper/css/swiper.min.css')}"/>
	<link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/css/LogisticsInformation.css')}"/>
</th:block>

<div layout:fragment="content">
		<!--head start-->
		<div class="head-het">
			<div class="head">
				<span class="head-lt" th:text="|快递号：${deliveryDto.expressNumber}|"></span>
				<span class="head-rt" th:text="${enumLogic.GetDeliveryStatus(deliveryDto.status).message}">已签收</span>
			</div>
		</div>
		<!--head end-->
		
		<!--main start-->
		<div class="main">
			<ul class="logistics-list">
				<th:block th:each="info:${data}">
				<li class="active-next">
					<!--<span class="logistics-state">收</span>
					<span class="logistics-text logistics-text-no">北京市通州区台湖镇静海3路天骥智谷36号楼金色世纪</span>-->
					<span class="logistics-time" th:text="${info.time}">2018-09-11 13:21</span>
					<span class="logistics-text" th:text="${info.context}">已签收</span>
				</li>
				</th:block>
			</ul>
		</div>
		<!--main end-->
</div>
