<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--footer-tips start-->
<fieldset class="footer-tips">
    <legend>金色严选 用心甄选</legend>
</fieldset>
<!--footer-tips end-->

<!--shopping-cart start-->
<div class="shopping-cart">
    <img src="/index/images/shoppingCart.png" alt="1" class="shopping-icon"/>
    <span class="shopping-num">0</span>
</div>
<!--shopping-cart start-->

<script th:src="@{/index/js/jquery.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/index/js/size.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/index/js/swiper/js/swiper.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/index/js/nav.js}" type="text/javascript" charset="utf-8"></script>

</body>
</html>