<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="index/common/layout">

<!-- 赠送详情 \document\html\KTGJService\giftDetail.html -->
<head th:replace="index/common/layout :: header('赠送详情', '', '')"></head>

<th:block layout:fragment="script">
    <script th:src="${ob.Url('/index/js/swiper/js/swiper.min.js')}" type="text/javascript" charset="utf-8"></script>
    <script th:src="${ob.Url('/index/js/nav.js')}" type="text/javascript" charset="utf-8"></script>
    <script th:src="${ob.Url('/index/js/GiveDetail.js')}" type="text/javascript" charset="utf-8"></script>

    <script th:inline="javascript">

        TX.INIT(function () {
        
        $(document).on("click","a.cancel-btn",function () {

            var giftUniqueCode = $(this).attr("data-gift-uniqueId");

            layer.confirm('确定取消赠送吗?', {icon: 3}, function (index) {
                TX.CORE.p({
                    url: "/gift/cancel",
                    data: {giftUniqueCode: giftUniqueCode},
                    success: function (resp) {
                        if (resp.baseResp.success) {
                            TX.MSG.msg(resp.baseResp.message, {time: 1500}, function () {
                                location.href = location.href;
                            });
                        } else {
                            TX.MSG.msg(resp.baseResp.message, {icon: 2});
                        }
                    }
                });
            })
        })
        })
        
    </script>
    
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/js/swiper/css/swiper.min.css')}"/>
    <link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/css/GiveDetail.css')}"/>
</th:block>

<div layout:fragment="content">
    <!--banner start-->
    <div class="banner start">
        <!-- 轮播 start -->
        <div class="swiper-container">

            <div class="swiper-wrapper" th:if="${!#lists.isEmpty(giveStocks)}">
                <th:block th:each="info:${giveStocks}">
                    <div class="swiper-slide">
                        <dl class="banner-dl">
                            <dt th:if="${!#lists.isEmpty(info.productDto.productImgDtos)}">
                                <img th:src="${info.productDto.productImgDtos[0].imgPath}"/>
                            </dt>
                            <dd>
                                <h2 class="banner-dl-name"
                                    th:text="${productLogic.GetProduct(info.productId).productName}">越甲科技20寸旅行箱</h2>
                                <p class="banner-dl-tips" th:text="|共${info.number}件|">共2件商品</p>
                            </dd>
                        </dl>
                    </div>
                </th:block>
            </div>


            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <!-- 轮播 end -->
    </div>
    <!--banner end-->

    <!--main start-->
    <div class="main">
        <!--blessings satrt-->
        <div class="blessings">
            <div class="blessings-con">
                <img th:src="${ob.Img('/index/images/icon_douhao_lt.png')}" alt="1" class="icon-douhao-lt"/>
                <img th:src="${ob.Img('/index/images/icon_douhao_rt.png')}" alt="1" class="icon-douhao-rt"/>
                <p class="blessings-p" th:text="${giftDto.blessings}"></p>
            </div>
            <p class="give-come-from">
                <img th:src="${giftDto.wechatDto.headimgurl}" class="give-head-img"/>
                <span class="give-come-from-text" th:text="${giftDto.wechatDto.nickname}">张鑫</span>
            </p>
        </div>
        <!--blessings end-->

        <!--give-con start-->
        <div class="give-con" th:if="${giftDto.giftStatus == 30 || #lists.isEmpty(receiveStocks)}">
            <h2 class="give-con-title">礼物等待领取中</h2>
            <p class="give-con-tips">礼物赠送未被领取，24小时后退回原账户商品库；</p>
        </div>
        <!--give-con end-->

        <!--receive-detail start-->
        <div class="receive-detail" th:if="${!#lists.isEmpty(receiveStocks)}">
            <dl class="receive-dl" th:each="info:${receiveStocks}">
                <dt><img th:src="${info.wechatDto.headimgurl}" alt="1"/></dt>
                <dd>
                    <p class="receive-dl-p">
                        <span class="receive-name" th:text="${info.wechatDto.nickname}">张鑫</span>
                        <span class="receive-time"
                              th:text="${dateUtils.formatDateByUnixTime(info.createTime, 'yyyy-MM-dd HH:mm:ss')}">11-20 13:30</span>
                    </p>
                    <p class="receive-dl-tips clear"
                       th:text="|领取了${productLogic.GetProduct(info.productId).productName}x${info.number}|">
                        领取了越甲科技20kg旅行箱×1</p>
                </dd>
            </dl>
        </div>
        <!--receive-detail end-->
    </div>

    <!--main end-->

    <!--footer start-->
    <div class="footer">
        <a href="javascript:;" th:attr="data-gift-uniqueId=${giftDto.giftUniqueCode}" class="cancel-btn">取消赠送</a>
        <a th:href="${ob.Nav('/stock')}" class="continue-btn">继续赠送</a>
    </div>
    <!--footer end-->

</div>
