<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="index/common/layout">

<!-- 赠送领取列表 \document\html\KTGJService\gift.html -->
<head th:replace="index/common/layout :: header('赠送领取列表', '', '')"></head>

<th:block layout:fragment="script">
    <script th:src="${ob.Url('/index/js/swiper/js/swiper.min.js')}" type="text/javascript" charset="utf-8"></script>
    <script th:src="${ob.Url('/index/js/GiveList.js')}" type="text/javascript" charset="utf-8"></script>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/js/swiper/css/swiper.min.css')}"/>
    <link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/css/GiveList.css')}"/>
</th:block>

<div layout:fragment="content">
    <!--nav start-->
    <div class="nav">
        <div class="nav-list">
            <ul class="nav-list-ul">
                <li class="active">我赠送的</li>
                <li>我领取的</li>
            </ul>
        </div>
    </div>
    <!--nav start-->

    <!--main start-->
    <div class="main clear">

        <!--我赠送的 start-->
        <div class="give-item" style="display: block;">

            <th:block th:each="info:${giveStocks}">

                <th:block th:with="count=${giftLogic.GetGiftStockCount(info.giftId)}">

                    <!-- 群分享 -->
                    <th:block th:if="${info.giftShareType.value == 2}">
                        <a th:href="${ob.Url('/share/gift/'+info.giftUniqueCode)}">
                            <dl class="give-item-dl clear">
                                <dt>
                                    <img th:if="${count le 1}"
                                         th:src="${productLogic.GetProductImgDtos(info.stockDtos.get(0).productId)[0].imgPath}">
                                    <img th:if="${count gt 1}"
                                         th:src="${ob.Img('/index/images/give_default_img.png')}" alt="1"/>
                                </dt>
                                <dd>
                                    <p class="give-dd-p">
                                        <span class="give-dd-name" th:text="${info.giftShareType.message}"></span>

                                        <span class="give-state-gray" th:text="${info.giftStatus.message}"></span>
                                    </p>
                                    <p class="give-dd-tips clear"
                                       th:text="|共${count}件商品|"></p>
                                    <p class="give-dd-time"
                                       th:text="|赠送时间:${dateUtils.formatDateByUnixTime(info.createTime, 'yyyy-MM-dd HH:mm:ss')}|">
                                    </p>
                                </dd>
                            </dl>
                        </a>
                    </th:block>

                    <!-- 分享个人 -->
                    <th:block th:if="${info.giftShareType.value != 2}">
                        <a th:href="${ob.Url('/share/gift/'+info.giftUniqueCode)}">
                            <dl class="give-item-dl clear">

                                <dt>
                                    <img th:if="${count le 1}"
                                         th:src="${productLogic.GetProductImgDtos(info.stockDtos[0].productId)[0].imgPath}">
                                    <img th:if="${count gt 1}"
                                         th:src="${ob.Img('/index/images/give_default_img.png')}" alt="1"/>
                                </dt>
                                <dd>
                                    <p class="give-dd-p">
                                <span class="give-dd-name"
                                      th:if="${!#lists.isEmpty(info.stockDtos)}"
                                      th:text="${info.stockDtos[0].wechatDto.nickname}">韩梅梅</span>

                                        <span class="give-dd-name"
                                              th:if="${#lists.isEmpty(info.stockDtos)}">待领取</span>

                                        <span class="give-state-gray" th:text="${info.giftStatus.message}"></span>

                                    </p>

                                    <p class="give-dd-tips clear"
                                       th:text="|共${count}件商品|"></p>
                                    <p class="give-dd-time"
                                       th:text="|赠送时间:${dateUtils.formatDateByUnixTime(info.createTime, 'yyyy-MM-dd HH:mm:ss')}|">
                                    </p>
                                </dd>

                            </dl>
                        </a>
                    </th:block>

                </th:block>

            </th:block>
        </div>
        <!--我赠送的 end-->

        <!--我领取的 start-->
        <div class="give-item">
            <th:block th:each="info:${receiveStocks}">
                <a th:href="${ob.Url('/share/gift/'+info.giftUniqueCode)}">
                    <dl class="give-item-dl clear">
                        <dt th:if="${!#lists.isEmpty(productLogic.GetProductImgDtos(info.stockDtos[0].productId))}">
                            <img th:src="${productLogic.GetProductImgDtos(info.stockDtos[0].productId)[0].imgPath}"/>
                        </dt>
                        <dd>
                            <p class="give-dd-p">
                            <span class="give-dd-name"
                                  th:text="|From:${info.wechatDto.nickname}|">韩梅梅</span>
                                <span class="give-state-gray"
                                      th:text="${info.stockDtos[0].stockStatus.message}">已领取</span>
                            </p>
                            <p class="give-dd-tips clear" th:text="|共${#lists.size(info.stockDtos)}件商品|">共2件商品</p>
                            <p class="give-dd-time"
                               th:text="|领取时间:${dateUtils.formatDateByUnixTime(info.createTime, 'yyyy-MM-dd HH:mm:ss')}|">
                            </p>
                        </dd>
                    </dl>
                </a>
            </th:block>
        </div>
        <!--我领取的 end-->
    </div>
    <!--main end-->

</div>