<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="index/common/layout">

<!-- 首页 \document\html\KTGJService\index.html -->
<head th:replace="index/common/layout :: header('金色严选', '', '')"></head>

<th:block layout:fragment="script">

    <script th:inline="javascript">
        window.secKillTime = [[${secKillTime}]];
    </script>

    <!--js-->
    <script th:src="${ob.Url('/index/js/swiper/js/swiper.min.js', false)}" type="text/javascript"
            charset="utf-8"></script>
    <script th:src="${ob.Url('/index/js/nav.js')}" type="text/javascript" charset="utf-8"></script>
    <script th:src="${ob.Url('/index/js/index.js')}" type="text/javascript" charset="utf-8"></script>

</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/js/swiper/css/swiper.min.css', false)}"/>
    <link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/css/index.css')}"/>
</th:block>

<th:block layout:fragment="share">
    <script type="text/javascript" th:inline="javascript">

        var shareUrl = [[${ob.Nav('/')}]];
        var shareTitle = "金色严选|简单又好，优质好货，品质生活";

        shareConfig = {
            title: shareTitle,
            desc: "随时随地，享受好的生活！",
            link: shareUrl,
            imgUrl: ""
        };

    </script>
</th:block>


<div layout:fragment="content">

    <!--banner start-->
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <th:block th:each="banner:${banners}">
                    <div class="swiper-slide">
                        <img th:src="@{${banner.bannerPath}}" alt="1" width="100%"/>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <!--banner end-->

    <!--main start-->
    <div class="main">
        <!--nav start-->
        <div class="navHeight" id="navHeight">
            <div class="nav-wrap-div">
                <div class="nav-wrap clear" id="nav-wrap">
                    <ul class="clearfix">
                        <li>
                            <a class="active" href="#section1">品质出行</a>
                        </li>
                        <li>
                            <a href="#section2">限时秒杀</a>
                        </li>
                        <li>
                            <a href="#section3">爆款单品</a>
                        </li>
                        <li>
                            <a href="#section4">组合优惠</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--nav end-->

        <!--品质出行 start-->
        <div id="section1" class="section clear">
            <h2 class="section-title">品质出行</h2>
            <!--section-con start-->
            <div class="section-con">

                <th:block th:each="info : ${qualityTravels}">
                    <a th:href="${ob.Nav('/product?productId='+info.productId)}">
                        <dl class="section-con-dl">
                            <dt th:if="${!#lists.isEmpty(info.productImgDtos)}">
                                <img th:src="${info.productImgDtos[0].imgPath}" alt="1" width="100%"/>
                            </dt>
                            <dd>
                                <h2 class="section-dl-title" th:text="${info.productName}"></h2>
                                <p class="section-dl-tips" th:text="${info.introduce}"></p>
                                <p th:if="${!#lists.isEmpty(info.productSpecDtos)}" class="section-dl-price">&yen;<em
                                        th:text="${info.productSpecDtos[0].salePrice}"></em></p>
                            </dd>
                        </dl>
                    </a>
                </th:block>
            </div>
            <!--section-con end-->
        </div>
        <!--品质出行 end-->

        <!--限时秒杀 start-->
        <div id="section2" class="section clear" th:if="${!#lists.isEmpty(secKills)}">
            <h2 class="section-title">限时秒杀</h2>
            <div class="limited-time">
                <!--SecKill-time start-->
                <p class="SecKill-time">
                    <span class="joinh">00</span>
                    <em>:</em>
                    <span class="joinm">00</span>
                    <em>:</em>
                    <span class="joins">00</span>
                </p>
                <!--SecKill-time end-->

                <!--limited-time-goods start-->
                <div class="limited-time-goods">
                    <div class="limited-goods-con">
                        <th:block th:each="info : ${secKills}">
                            <a href="javascript:void(0);">
                                <dl class="section-con-dl">
                                    <th:block th:with="img=${productLogic.GetProductImgDtos(info.productId,2)}">
                                        <dt th:if="${img != null && !#lists.isEmpty(img)}">
                                            <img th:src="${img[0].imgPath}" alt="1" width="100%"/>
                                        </dt>
                                    </th:block>
                                    <dd>
                                        <h2 class="section-dl-title" th:text="${info.productDto.productName}"></h2>
                                        <p class="section-dl-price">&yen;<em th:text="${info.salePrice}"></em></p>
                                    </dd>
                                </dl>
                            </a>
                        </th:block>
                    </div>
                </div>
                <!--limited-time-goods end-->
            </div>
        </div>
        <!--限时秒杀 end-->

        <!--爆款单品 start-->
        <div id="section3" class="section clear">
            <h2 class="section-title">爆款单品</h2>
            <!--section-con start-->
            <div class="section-con">
                <th:block th:each="info:${hotProducts}">
                    <a th:href="${ob.Nav('/product?productId='+info.productId)}">
                        <dl class="section-con-dl">
                            <dt th:if="${!#lists.isEmpty(info.productImgDtos)}">
                                <img th:src="${info.productImgDtos[0].imgPath}" alt="1" width="100%"/>
                            </dt>
                            <dd>
                                <h2 class="section-dl-title" th:text="${info.productName}"></h2>
                                <p class="section-dl-tips" th:text="${info.introduce}"></p>
                                <p class="section-dl-price" th:if="${!#lists.isEmpty(info.productSpecDtos)}">&yen;
                                    <em th:text="${info.productSpecDtos[0].salePrice}"></em></p>
                            </dd>
                        </dl>
                    </a>
                </th:block>
            </div>
            <!--section-con end-->
        </div>
        <!--爆款单品 end-->

        <!--组合优惠 start-->
        <div id="section4" class="section clear" th:if="${!#lists.isEmpty(setSales)}">
            <h2 class="section-title">组合优惠</h2>
            <!--section-con start-->
            <div class="section-con">
                <th:block th:each="info:${setSales}">
                    <a th:href="${ob.Url('/product/groupDetail?activityId='+info.activityId)}">
                        <dl class="section-con-dl">
                            <dt>
                                <img th:src="${info.imgPath}" alt="1" width="100%"/>
                            </dt>
                            <dd>
                                <h2 class="section-dl-title" th:text="${info.activityName}"></h2>
                                <p class="section-dl-tips" th:text="${info.introduce}"></p>
                                <p class="section-dl-price">&yen;<em th:text="${info.salePrice}"></em><span
                                        th:text="${info.originalPrice}">￥</span></p>
                            </dd>
                        </dl>
                    </a>
                </th:block>
            </div>
            <!--section-con end-->
        </div>
        <!--组合优惠 end-->
    </div>
    <!--main end-->

    <!--footer-tips start-->
    <fieldset class="footer-tips">
        <legend>金色严选 用心甄选</legend>
    </fieldset>
    <!--footer-tips end-->

    <!--shopping-cart start-->
    <div class="shopping-cart">
        <a th:href="${ob.Nav('/cart')}">
            <img th:src="${ob.Img('/index/images/shoppingCart.png')}" alt="1" class="shopping-icon"/>
            <span class="shopping-num" th:text="${count}"></span>
        </a>
    </div>
    <!--shopping-cart start-->

</div>

</html>