<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="index/common/layout">

<!-- 首页 \document\html\KTGJService\PaySuccess.html -->
<head th:replace="index/common/layout :: header('金色严选-我的库存', '', '')"></head>

<th:block layout:fragment="script">

    <!--引入js-->
    <script th:src="${ob.Url('/index/js/mystock.js')}" type="text/javascript"
            charset="utf-8"></script>

    <script th:inline="javascript">

        TX.INIT(function () {

            //微信送好友
            $(document).on("click", "a.share-btn", function () {

                TX.CORE.p({
                    url: "/stock/createGift",
                    data: $("#form1").serialize(),
                    success: function (resp) {
                        if (resp.baseResp.success) {
                            TX.MSG.msg(resp.baseResp.message, {time: 1500}, function () {
                                location.href = resp.baseResp.url;
                            });
                        } else {
                            TX.MSG.msg(resp.baseResp.message, {icon: 2}, function () {
                                location.href = location.href;
                            });
                        }
                    }
                })

            });

            //我要使用
            $(document).on("click", "a.use-btn", function () {

                if ($(this).hasClass("disabled-use-btn")) {
                    return;
                }

                var products = [];
                var propertyTypeIds = getPropertyTypeIds(function (obj) {
                    var productId = $(":hidden[name='productId']", obj).val();
                    var productSpecId = $(":hidden[name='productSpecId']", obj).val();
                    var num = $(":text[name='num']", obj).val();
                    products.push({pId: productId, sId: productSpecId, num: num});
                });
                if (propertyTypeIds.length == 0 || products.length == 0) {
                    return;
                }

                var json = encodeURI(JSON.stringify(products));
                //使用前验证
                TX.CORE.p({
                    url: "/stock/validateUsed",
                    data: {
                        p: json,
                        propertyTypeId: propertyTypeIds[0]
                    },
                    success: function (resp) {
                        if (resp.baseResp.success) {
                            location.href = resp.baseResp.url;
                        } else {
                            TX.MSG.msg(resp.baseResp.message, {icon: 2}, function () {
                                if (resp.baseResp.url) {
                                    location.href = resp.baseResp.url;
                                } else {
                                    location.href = location.href;
                                }
                            });
                        }
                    }
                })

            });

        })

    </script>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/css/mystock.css')}"/>
</th:block>

<div layout:fragment="content">

    <!--head start-->
    <div class="head">
        <ul class="head-ul">
            <li>
                <a th:href="${ob.Nav('/order')}">
                    <img th:src="${ob.Img('/index/images/stock_order_icon.png')}" alt="1"
                         class="head-ul-icon"/>
                    <span class="head-ul-title">订单记录</span>
                </a>
            </li>
            <li>
                <a th:href="${ob.Nav('/delivery')}">
                    <img th:src="${ob.Img('/index/images/stock_delivery_icon.png')}" alt="1"
                         class="head-ul-icon"/>
                    <span class="head-ul-title">配送记录</span>
                </a>
            </li>
            <li>
                <a th:href="${ob.Nav('/gift')}">
                    <img th:src="${ob.Img('/index/images/stock_give_icon.png')}" alt="1" class="head-ul-icon"/>
                    <span class="head-ul-title">赠送记录</span>
                </a>
            </li>
            <li>
                <a th:href="${ob.Nav('/coupon')}">
                    <img th:src="${ob.Img('/index/images/stock_coupon_icon.png')}" alt="1"
                         class="head-ul-icon"/>
                    <span class="head-ul-title">优惠券</span>
                </a>
            </li>
        </ul>
    </div>
    <!--head end-->

    <!--banner start-->
    <div class="banner clear" style="display: none;">
        <img th:src="${ob.Img('/index/images/banner.png')}" alt="1"/>
    </div>
    <!--banner end-->

    <!--main start-->
    <div class="main clear">
        <h2 class="stock-title">库存商品</h2>
        <div class="share-fail" th:if="${!#lists.isEmpty(giftDtos)}">
            <p class="share-fail-tips">您有<span th:text="${#lists.size(giftDtos)}">0</span>个礼包分享失败</p>
            <a th:href="${ob.Nav('/share/gift/'+giftDtos[0].giftUniqueCode + '/confirm')}" class="share-fail-look">查看
                ></a>
        </div>
        <div class="share-fail" th:if="${!#lists.isEmpty(unUsedActivityCodes)}">
            <p class="share-fail-tips">您有<span th:text="${#lists.size(unUsedActivityCodes)}">0</span>个未使用的次卡</p>
            <a th:href="${ob.Nav('/stock/qrcode/'+unUsedActivityCodes[0].deliveryId + '/' +unUsedActivityCodes[0].stockId )}"
               class="share-fail-look">查看 ></a>
        </div>


        <div class="strok-list">
            <form id="form1" method="post">
                <th:block th:each="info :${stockDtos}">
                    <dl class="strok-list-dl clear" th:attr="data-property-type=${info.productDto.propertyType.value}">
                        <dt th:if="${!#lists.isEmpty(info.productDto.productImgDtos)}">
                            <img th:src="${info.productDto.productImgDtos[0].imgPath}" alt="1"/>
                            <a th:href="${ob.Nav('/product?productId='+info.productId)}" class="goods-detail"
                               style="display: none;">详情></a>
                        </dt>
                        <dd>
                            <h2 class="strok-dd-name" th:text="${info.productDto.productName}">越甲科技20寸旅行箱</h2>
                            <p class="strok-dd-tips" th:text="${info.productDto.introduce}">科技产品特殊材质，旅行必备</p>
                            <div class="strok-dd-bot">
                                <p class="strok-dd-num">库存：<span th:text="${info.number}">0</span></p>
                                <div class="purchase-num" style="display: none;">
                                    <em class="purchase-num-reduce"></em>
                                    <input type="text" value="0" readonly="readonly" unselectable="on" class="num" name="num"/>
                                    <em class="purchase-num-add"></em>

                                    <input type="hidden" name="productId" th:value="${info.productId}"/>
                                    <input type="hidden" name="productSpecId" th:value="${info.productSpecId}"/>
                                    <input type="hidden" name="propertyType"
                                           th:value="${info.productDto.propertyType.value}"/>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </th:block>
            </form>

        </div>
    </div>
    <!--main end-->

    <!--footer start-->
    <div class="footer" style="display: none;">
        <ul class="footer-ul">
            <li>
                <span class="selected-num">0</span>
                <span class="selected-title">已选</span>
            </li>
            <li>
                <a href="javascript:void(0);" class="share-btn">微信送好友</a>
            </li>
            <li>
                <a href="javascript:void(0);" class="use-btn">我要使用</a>
            </li>
        </ul>
    </div>
    <!--footer end-->


</div>

</html>