<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="index/common/layout">

<!-- 使用实物商品 \document\html\KTGJService\GoodsUse.html -->
<head th:replace="index/common/layout :: header('金色严选-我要使用', '', '')"></head>

<th:block layout:fragment="script">

    <!--引入js-->

    <script th:src="${ob.Url('/index/js/city/common.js')}" type="text/javascript" charset="utf-8"></script>
    <script th:src="${ob.Url('/index/js/city/Popt.js')}" type="text/javascript" charset="utf-8"></script>
    <script th:src="${ob.Url('/index/js/city/cityJson.js')}" type="text/javascript" charset="utf-8"></script>
    <script th:src="${ob.Url('/index/js/city/citySet.js')}" type="text/javascript" charset="utf-8"></script>
    <!--<script th:src="${ob.Url('/index/js/mSelect/js/iscroll.js')}" type="text/javascript" charset="utf-8"></script>-->
    <!--<script th:src="${ob.Url('/index/js/mSelect/js/jquery.mobile_date_ui.js')}" type="text/javascript"-->
            <!--charset="utf-8"></script>-->
    <script th:src="${ob.Url('/index/js/GoodsUse.js')}" type="text/javascript" charset="utf-8"></script>

    <script th:src="${ob.Url('/index/js/CityList.js')}" type="text/javascript" charset="utf-8"></script>
    <script th:inline="javascript">

        TX.INIT(function () {

            $("a.confirm-btn").click(function () {
                var index = $("ul.nav-list-ul li.active").index();
                var formId = "";
                if (index == 0) {
                    //快递配送
                    formId = "#form1";

                    $(":hidden[name='provinceId']").val(0);
                    $(":hidden[name='cityId']").val(0);
                    $(":hidden[name='districtId']").val(0);

                    if ($(":hidden[name='hcity']", $(formId)).length > 0) {
                        var provinceId = $(":hidden[name='hcity']", $(formId)).attr("data-id");
                        $(":hidden[name='provinceId']").val(provinceId);
                    }

                    if ($(":hidden[name='hproper']").length) {
                        var cityId = $(":hidden[name='hproper']").attr("data-id");
                        $(":hidden[name='cityId']").val(cityId);
                    }

                    if ($(":hidden[name='harea']").length) {
                        var districtId = $(":hidden[name='harea']").attr("data-id");
                        $(":hidden[name='districtId']").val(districtId);
                    }

                } else {
                    //我要自提
                    formId = "#form2";
                }

                //提交保存
                TX.CORE.p({
                    data: $(formId).serialize(),
                    success: function (resp) {
                        if (resp.baseResp.success) {
                            TX.MSG.msg(resp.baseResp.message, {time: 1500}, function () {
                                location.href = resp.baseResp.url;
                            });
                        } else {
                            TX.MSG.msg(resp.baseResp.message, {icon: 2}, function () {

                            });
                        }
                    }
                });

            });


        });

    </script>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/js/mSelect/css/mobile_date_ui.css')}"/>
    <link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/css/GoodsUse.css')}"/>

    <link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/css/CityList.css')}"/>
</th:block>

<div layout:fragment="content">
    <div class="content-form">
        <!--head start-->
        <div class="head">
            <div class="head-height">
                <ul class="head-goods-list">
                    <th:block th:each="info :${stockDtos}">
                        <li>
                            <th:block th:if="${!#lists.isEmpty(info.productDto.productImgDtos)}">
                                <img th:src="${info.productDto.productImgDtos[0].imgPath}" alt="1"
                                     class="head-goods-img"/>
                            </th:block>
                            <p class="head-goods-tips">已选<span th:text="${info.number}">0</span>件</p>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
        <!--head end-->

        <!--main start-->
        <div class="main">
            <div class="nav-list">
                <ul class="nav-list-ul">
                    <li class="active">快递配送</li>
                    <li th:if="${!unSupportPickup}">我要自提</li>
                </ul>
            </div>

            <div class="nav-wrap clear">

                <!--快递配送 start-->
                <div class="nav-wrap-item" style="display: block;">
                    <form name="form1" id="form1" method="post">
                        <h2 class="address-title">新建收货地址</h2>
                        <div class="address">
                            <div class="address-item">
                                <span class="address-lable">收件人：</span>
                                <p class="address-rt">
                                    <input type="text" placeholder="填写收件人" name="contactName" value=""
                                           class="address-input"/>
                                </p>
                            </div>
                            <div class="address-item">
                                <span class="address-lable">联系手机：</span>
                                <p class="address-rt">
                                    <input type="tel" placeholder="填写联系手机" name="mobile" maxlength="11" value=""
                                           class="address-input"/>
                                </p>
                            </div>
                            <div class="address-item" id="test">
                                <span class="address-lable">所在地区：</span>
                                <p class="address-rt">
                                    <span id="city" class="address-input">选择所在地区</span>
                                </p>
                            </div>
                            <div class="address-item">
                                <span class="address-lable">详细地址：</span>
                                <p class="address-rt">
                                    <textarea placeholder="填写详细地址" name="address" class="address-textarea"></textarea>
                                </p>
                            </div>
                        </div>

                        <input type="hidden" name="deliveryType" value="2"/>
                        <input type="hidden" name="provinceId" value="0"/>
                        <input type="hidden" name="cityId" value="0"/>
                        <input type="hidden" name="districtId" value="0"/>

                    </form>
                </div>
                <!--快递配送 end-->

                <!--我要自提 start-->
                <div class="nav-wrap-item">
                    <form name="form2" id="form2" method="post">
                        <h2 class="address-title">填写自提信息</h2>
                        <div class="address">
                            <div class="address-item">
                                <span class="address-lable">联系人：</span>
                                <p class="address-rt">
                                    <input type="text" placeholder="填写联系人" name="contactName" value=""
                                           class="address-input"/>
                                </p>
                            </div>
                            <div class="address-item">
                                <span class="address-lable">联系电话：</span>
                                <p class="address-rt">
                                    <input type="tel" placeholder="填写联系电话" name="mobile" maxlength="11" value=""
                                           class="address-input"/>
                                </p>
                            </div>
                            <div class="address-item">
                                <span class="address-lable">自提时间：</span>
                                <p class="address-rt">
                                    <input type="text" placeholder="选择自提时间" id="birthdate" name="effectiveDate" value=""
                                           data-options="{'type':'YYYY-MM-DD','beginYear':2019,'endYear':2024}"
                                           class="address-input birthdate"/>
                                </p>
                            </div>
                            <div class="address-item">
                                <span class="address-lable">自提网点：</span>
                                <p class="address-rt">
                                    <span id="SelfCity" class="address-input">选择自提网点</span>
                                    <input type="hidden" name="airportCode" value=""/>
                                    <input type="hidden" name="airportName" value=""/>
                                </p>
                            </div>
                        </div>

                        <input type="hidden" name="deliveryType" value="1"/>
                    </form>
                </div>
                <!--我要自提 end-->
            </div>
        </div>
        <!--main end-->
        <!--confirm-btn start-->
        <a href="javascript:void(0);" class="confirm-btn">确定</a>
        <!--confirm-btn end-->

        <!--选择日期-->
        <div id="datePlugin"></div>
    </div>

    <div class="content-city" style="display: none;">
        <!--city-list start-->
        <div class="city-list">
            <!--nav start-->
            <div class="city-list-head">
                <div class="city-list-nav">
                    <ul class="city-list-ul">
                        <li class="city-cur">机场</li>
                        <li>高铁</li>
                    </ul>
                    <img th:src="${ob.Img('/index/images/search_icon.png')}" class="search-btn"/>
                    <img th:src="${ob.Img('/index/images/close_icon.png')}" class="close-btn"/>
                </div>
            </div>
            <!--nav end-->

            <!--main start-->
            <div class="city-list-wrap clear">
                <!--机场 start-->
                <div class="city-list-item" style="display: block;">
                    <ul class="city-list-item-ul">
                        <li style="display: none;">
                            <a href="javascript:;" class="city-list-title" id="定位">定位</a>
                            <div class="city-posi-div">
                                <img th:src="${ob.Img('/index/images/address_icon.png')}" class="city-posi-img"/>
                                <span class="city-posi-span">暂无</span>
                            </div>
                        </li>
                        <th:block th:each="vip : ${airports}">
                            <li>
                                <a href="javascript:;" class="city-list-title" th:id="${vip.initials}"
                                   th:text="${vip.initials}"></a>
                                <div class="city-list-div">
                                    <th:block th:each="vvip :${vip.airportDtos}">
                                        <span th:attr="data-ifhot=${vvip.ifhot},data-airport-id=${vvip.airportId},data-airport-code=${vvip.airportCode}"
                                              th:text="${vvip.airportName}"></span>
                                    </th:block>
                                </div>
                            </li>
                        </th:block>
                    </ul>
                    <div class="slider-nav">
                        <ul>
                            <th:block th:each="vip : ${airports}">
                                <li>
                                    <a th:href="|#${vip.initials}|" th:text="${vip.initials}"></a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
                <!--机场 end-->

                <!--高铁 start-->
                <div class="city-list-item">
                    <ul class="city-list-item-ul">
                        <li style="display: none;">
                            <a href="javascript:;" class="city-list-title" id="定位-2">定位</a>
                            <div class="city-posi-div">
                                <img th:src="${ob.Img('/index/images/address_icon.png')}" class="city-posi-img"/>
                                <span class="city-posi-span">暂无</span>
                            </div>
                        </li>
                        <th:block th:each="vip : ${trains}">
                            <li>
                                <a href="javascript:;" class="city-list-title" th:id="${vip.initials}"
                                   th:text="${vip.initials}"></a>
                                <div class="city-list-div">
                                    <th:block th:each="vvip :${vip.airportDtos}">
                                        <span th:attr="data-ifhot=${vvip.ifhot},data-airport-id=${vvip.airportId},data-airport-code=${vvip.airportCode}"
                                              th:text="${vvip.airportName}"></span>
                                    </th:block>
                                </div>
                            </li>
                        </th:block>
                    </ul>
                    <div class="slider-nav2">
                        <ul>
                            <th:block th:each="vip : ${trains}">
                                <li>
                                    <a th:href="|#${vip.initials}|" th:text="${vip.initials}"></a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
                <!--高铁 end-->
            </div>
            <!--main end-->
        </div>
        <!--city-list end-->

        <!--search-layer start-->
        <div class="search-layer" style="display: none;">
            <div class="sousu">
                <p class="p-txt">
                    <input type="text" placeholder="搜索" id="txbName" autofocus="autofocus">
                    <span>
		                <!--<em id="searchBtn">搜索</em>-->
		                <em id="cancelBtn">取消</em>
		            </span>
                </p>
                <div class="search_result">
                    <!--无搜索结果-->
                    <div class="no_result" style="display:none;">
                        <label>无搜索结果</label>
                    </div>
                    <!--搜索列表结果-->
                    <div class="search_list">
                        <ul>
                            <th:block th:each="vip :${airports}">
                                <th:block th:each="vvip :${vip.airportDtos}">
                                    <li th:if="${vvip.ifhot}"
                                        th:attr="data-ifhot=${vvip.ifhot},data-airport-id=${vvip.airportId},data-airport-code=${vvip.airportCode}"
                                        th:text="${vvip.airportName}"></li>
                                </th:block>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--search-layer end-->
    </div>

    <script th:src="${ob.Url('/index/js/jquery.date.js')}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            $.date('#birthdate');
        });
    </script>

</div>

</html>