<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/index/common/css/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/index/common/js/swiper/css/swiper.min.css}"/>
</head>

<body>
<!--banner start-->
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper" id="content">
            <th:block th:each="info : ${banners}">
                <div class="swiper-slide">
                    <img th:src="${info.bannerPath}" alt="1" width="100%"/>
                </div>
            </th:block>
        </div>
    </div>
</div>
<!--banner end-->
</body>
</html>