<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="format-detection" content="telephone=no" />
	    <meta name="format-detection" content="email=no" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	    <title>空铁服务</title>
	    <link rel="stylesheet" type="text/css" href="/index/css/public.css"/>
	    <link rel="stylesheet" type="text/css" href="/index/js/swiper/css/swiper.min.css"/>
	    <link rel="stylesheet" type="text/css" href="/index/css/index.css"/>
	</head>
	<body>
		<!--banner start-->
		<iframe src="index/header"></iframe>
		<!--banner end-->
		
		<!--main start-->
		<div class="main">
			<!--nav start-->
			<div class="navHeight" id="navHeight">
				<nav class="nav-wrap clear" id="nav-wrap">
					<ul class="clearfix">
						<li>
							<a class="active" href="#section1">品质出行</a>
						</li>
						<li>
							<a href="#section2">限时秒杀</a>
						</li>
						<li>
							<a href="#section3">爆款单品</a>
						</li>
						<li>
							<a href="#section4">组合优惠</a>
						</li>
					</ul>
				</nav>
			</div>
			<!--nav end-->
			
			<!--品质出行 start-->
			<div id="section1" class="section clear">
				<h2 class="section-title">品质出行</h2>
				<!--section-con start-->
				<div class="section-con">
					<a href="javascript:void(0);">
						<dl class="section-con-dl">
							<dt>
								<img src="/index/images/card_img1.png" alt="1" width="100%"/>
							</dt>
							<dd>
								<h2 class="section-dl-title">逸站通卡</h2>
								<p class="section-dl-tips">畅享全国机场/高铁金高铁金高铁金</p>
								<p class="section-dl-price">&yen;<em>898</em></p>
							</dd>
						</dl>
					</a>
					<a href="javascript:void(0);">
						<dl class="section-con-dl">
							<dt>
								<img src="/index/images/card_img2.png" alt="1" width="100%"/>
							</dt>
							<dd>
								<h2 class="section-dl-title">逸站通卡</h2>
								<p class="section-dl-tips">畅享全国机场/高铁金高铁金高铁金</p>
								<p class="section-dl-price">&yen;<em>898</em></p>
							</dd>
						</dl>
					</a>
					<a href="javascript:void(0);">
						<dl class="section-con-dl">
							<dt>
								<img src="/index/images/card_img3.png" alt="1" width="100%"/>
							</dt>
							<dd>
								<h2 class="section-dl-title">超级空客•月体验</h2>
								<p class="section-dl-tips">畅享全国机场/高铁金高铁金高铁金</p>
								<p class="section-dl-price">&yen;<em>898</em></p>
							</dd>
						</dl>
					</a>
					<a href="javascript:void(0);">
						<dl class="section-con-dl">
							<dt>
								<img src="/index/images/card_img4.png" alt="1" width="100%"/>
							</dt>
							<dd>
								<h2 class="section-dl-title">金色逸站通用券</h2>
								<p class="section-dl-tips">畅享全国机场/高铁金高铁金高铁金</p>
								<p class="section-dl-price">&yen;<em>898</em></p>
							</dd>
						</dl>
					</a>
				</div>
				<!--section-con end-->
			</div>
			<!--品质出行 end-->
			
			<!--限时秒杀 start-->
			<div id="section2" class="section clear">
				<h2 class="section-title">限时秒杀</h2>
				<div class="limited-time">
					<!--SecKill-time start-->
					<p class="SecKill-time">
						<span class="joinh">00</span>
						<em>:</em>
						<span class="joinm">00</span>
						<em>:</em>
						<span class="joins">00</span> 
					</p>
					<!--SecKill-time end-->
					
					<!--limited-time-goods start-->
					<div class="limited-time-goods">
						<div class="limited-goods-con">
							<a href="javascript:void(0);">
								<dl class="section-con-dl">
									<dt><img src="/index/images/goods_img1.png" alt="1" width="100%"/></dt>
									<dd>
										<h2 class="section-dl-title">大闸蟹</h2>
										<p class="section-dl-price">&yen;<em>898</em></p>
									</dd>
								</dl>
							</a>
							<a href="javascript:void(0);">
								<dl class="section-con-dl">
									<dt><img src="/index/images/goods_img2.png" alt="1" width="100%"/></dt>
									<dd>
										<h2 class="section-dl-title">越甲20寸旅行箱</h2>
										<p class="section-dl-price">&yen;<em>898</em></p>
									</dd>
								</dl>
							</a>
							<a href="javascript:void(0);">
								<dl class="section-con-dl">
									<dt><img src="/index/images/goods_img1.png" alt="1" width="100%"/></dt>
									<dd>
										<h2 class="section-dl-title">素园野生参谜</h2>
										<p class="section-dl-price">&yen;<em>898</em></p>
									</dd>
								</dl>
							</a>
							<a href="javascript:void(0);">
								<dl class="section-con-dl">
									<dt><img src="/index/images/goods_img2.png" alt="1" width="100%"/></dt>
									<dd>
										<h2 class="section-dl-title">越甲20寸旅行箱</h2>
										<p class="section-dl-price">&yen;<em>898</em></p>
									</dd>
								</dl>
							</a>
						</div>
					</div>
					<!--limited-time-goods end-->
				</div>
			</div>
			<!--限时秒杀 end-->
			
			<!--爆款单品 start-->
			<div id="section3" class="section clear">
				<h2 class="section-title">爆款单品</h2>
				<!--section-con start-->
				<div class="section-con">
					<a href="javascript:void(0);">
						<dl class="section-con-dl">
							<dt>
								<img src="/index/images/card_img1.png" alt="1" width="100%"/>
							</dt>
							<dd>
								<h2 class="section-dl-title">逸站通卡</h2>
								<p class="section-dl-tips">畅享全国机场/高铁金高铁金高铁金</p>
								<p class="section-dl-price">&yen;<em>898</em></p>
							</dd>
						</dl>
					</a>
					<a href="javascript:void(0);">
						<dl class="section-con-dl">
							<dt>
								<img src="/index/images/card_img2.png" alt="1" width="100%"/>
							</dt>
							<dd>
								<h2 class="section-dl-title">逸站通卡</h2>
								<p class="section-dl-tips">畅享全国机场/高铁金高铁金高铁金</p>
								<p class="section-dl-price">&yen;<em>898</em></p>
							</dd>
						</dl>
					</a>
					<a href="javascript:void(0);">
						<dl class="section-con-dl">
							<dt>
								<img src="/index/images/card_img3.png" alt="1" width="100%"/>
							</dt>
							<dd>
								<h2 class="section-dl-title">超级空客•月体验</h2>
								<p class="section-dl-tips">畅享全国机场/高铁金高铁金高铁金</p>
								<p class="section-dl-price">&yen;<em>898</em></p>
							</dd>
						</dl>
					</a>
					<a href="javascript:void(0);">
						<dl class="section-con-dl">
							<dt>
								<img src="/index/images/card_img4.png" alt="1" width="100%"/>
							</dt>
							<dd>
								<h2 class="section-dl-title">金色逸站通用券</h2>
								<p class="section-dl-tips">畅享全国机场/高铁金高铁金高铁金</p>
								<p class="section-dl-price">&yen;<em>898</em></p>
							</dd>
						</dl>
					</a>
				</div>
				<!--section-con end-->
			</div>
			<!--爆款单品 end-->
			
			<!--组合优惠 start-->
			<div id="section4" class="section clear">
				<h2 class="section-title">组合优惠</h2>
				<!--section-con start-->
				<div class="section-con">
					<a href="javascript:void(0);">
						<dl class="section-con-dl">
							<dt>
								<img src="/index/images/card_img1.png" alt="1" width="100%"/>
							</dt>
							<dd>
								<h2 class="section-dl-title">逸站通卡</h2>
								<p class="section-dl-tips">畅享全国机场/高铁金高铁金高铁金</p>
								<p class="section-dl-price">&yen;<em>898</em><span>￥580</span></p>
							</dd>
						</dl>
					</a>
					<a href="javascript:void(0);">
						<dl class="section-con-dl">
							<dt>
								<img src="/index/images/card_img2.png" alt="1" width="100%"/>
							</dt>
							<dd>
								<h2 class="section-dl-title">逸站通卡</h2>
								<p class="section-dl-tips">畅享全国机场/高铁金高铁金高铁金</p>
								<p class="section-dl-price">&yen;<em>898</em><span>￥580</span></p>
							</dd>
						</dl>
					</a>
				</div>
				<!--section-con end-->
			</div>
			<!--组合优惠 end-->
		</div>
		<!--main end-->

		<iframe src="index/footer"></iframe>

		<!--js-->
		<script src="/index/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/index/js/size.js" type="text/javascript" charset="utf-8"></script>
		<script src="/index/js/swiper/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/index/js/nav.js" type="text/javascript" charset="utf-8"></script>
		<script src="/index/js/index.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>