<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/layout">

<div layout:fragment="content" class="admin-main layui-anim">

    <div class="admin-main layui-anim">
        <blockquote class="layui-elem-quote" style="float: left;width:97%;">

            <form class="layui-form" method="get" style="float:right;">
                <div class="layui-form-item" style="margin:0;">

                    <label class="layui-form-label">配送类型</label>
                    <div class="layui-input-inline">
                        <select name="typeId" title="配送类型">
                            <option value="">配送类型</option>
                            <th:block th:each="deliveryType : ${deliveryTypes}">
                                <option th:value="${deliveryType.value}" th:text="${deliveryType.message}"
                                        th:selected="${deliveryType.value == typeId}"></option>
                            </th:block>
                        </select>
                    </div>

                    <label class="layui-form-label">配送状态</label>
                    <div class="layui-input-inline">
                        <select name="status" title="配送状态">
                            <option value="">配送状态</option>
                            <th:block th:each="deliveryStatus : ${deliveryStatuses}">
                                <option th:value="${deliveryStatus.value}" th:text="${deliveryStatus.message}"
                                        th:selected="${deliveryStatus.value == status}"></option>
                            </th:block>
                        </select>
                    </div>

                    <label class="layui-form-label">关键字</label>
                    <div class="layui-input-inline">
                        <input type="text" name="keys" placeholder="快递号、联系人……" th:value="${keys}" autocomplete="off"
                               class="layui-input"/>
                    </div>
                    <div class="layui-input-inline" style="width:100px; float: right">
                        <button lay-filter="search" class="layui-btn" type="submit" style="float: right;">
                            <i class="layui-icon">&#xe615;</i> 查询
                        </button>
                    </div>

                </div>
            </form>
        </blockquote>
        <div class="layui-field-box layui-form">
            <table class="layui-table admin-table">
                <thead>
                <tr>
                    <th>openId</th>
                    <th style="width: 10%;">用户昵称</th>
                    <th style="width: 10%;">快递号</th>
                    <th style="width: 10%;">订单号</th>
                    <th style="width: 20%;">联系信息</th>
                    <th style="width: 15%;">创建时间</th>
                    <th style="width: 8%;">配送方式</th>
                    <th style="width: 8%;">状态</th>
                    <th style="width: 10%;">操作</th>
                </tr>
                </thead>
                <tbody id="content">
                <th:block th:each="info : ${infos.list}">
                    <tr>
                        <td th:text="${info.openId}"></td>
                        <td th:text="${wechatLogic.GetWechat(info.openId).getNickname()}"></td>
                        <td th:text="${info.expressNumber}"></td>
                        <td>
                            <th:block th:text="${deliveryLogic.GetDeliveryStock(info.deliveryId).get(0).orderId}">
                            </th:block>
                        </td>
                        </td>
                        <td>
                            <th:block  th:text="${info.mobile}"></th:block><br />
                            <th:block  th:text="${info.contactName}"></th:block><br />
                            <th:block  th:text="${info.address}"></th:block>
                        </td>
                        <td th:text="${dateUtils.formatDateByUnixTime(info.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${enumLogic.GetDeliveryType(info.typeId).message}"></td>
                        <td th:text="${enumLogic.GetDeliveryStatus(info.status).message}">
                        <td>
                            <button th:title="|配送详情|"
                                    th:attr="data-tab-href=@{'/admin/delivery/sendInfo/'+${info.deliveryId}}"
                                    class="layui-btn layui-btn-normal layui-btn-xs">
                                <i class="layui-icon">&#xe642;</i>
                                详情
                            </button>

                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div th:replace="comm/macros :: pageAdminNav(${infos})"></div>

        <button type="button"
                th:attr="data-method='export'"
                style="margin-left: 15px;"
                class="layui-btn">
            <i class="layui-icon">&#xe654;</i>
            导出
        </button>

    </div>

</div>


<th:block layout:fragment="script">
    <script th:inline="javascript">

        TX.INIT(function () {

            $("button[data-method='export']").click(function () {
                /*  TX.CORE.p({
                      url: "/excel/SubmitExcelData",
                      type: "post",
                      dataType: "json",
                      data: paramData,
                      success: function (data) {
                          if (data && data.code == "1") {
                              window.location.href = "/excel/DownloadExcel";
                          } else {
                              $.dialog.alert("下载失败!");
                          }
                      },
                      error: function (err) {
                          $.dialog.alert("下载失败");
                      }
                  });*/
                var typeId = $("select[name='typeId']").val();
                var status = $("select[name='status']").val();
                var keys = $("input[name='keys']").val();

                window.location.href="/excel/exportDelivery?typeId="+typeId+"&keys="+keys+"&status="+status;
            });

        });

        function modifyStatus(method, id) {

            TX.CORE.p({
                data: {method: method, id: id},
                url: "/admin/delivery/status",
                success: function (resp) {
                    if (resp.baseResp.success) {
                        TX.MSG.msg(resp.baseResp.message, {time: 1500}, function () {
                            location.href = location.href;
                        });
                    } else {
                        TX.MSG.msg(resp.baseResp.message, {icon: 2});
                    }
                }
            });
        }


    </script>
</th:block>

</html>