<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="admin/layout">

<script src="static/common/plugins/layui/layui.js" charset="utf-8"></script>
<div layout:fragment="content" class="admin-main layui-anim" style="margin: 15px;">
    <form class="layui-form" method="post" action="">

        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="mobile"
                       lay-verify="num"
                       title="手机号"
                       th:value="${info.mobile}" placeholder="手机号"/>
            </div>
            <div class="layui-form-mid layui-word-aux-red">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="contactName"
                       title="手机号"
                       th:value="${info.contactName}" placeholder="联系人"/>
            </div>
            <div class="layui-form-mid layui-word-aux-red">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">选择地址</label>
            <div class="layui-input-inline">
                <select name="provinceId" lay-filter="province" lay-verify="req" id="province" title="省">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="cityId" lay-filter="city" id="city" lay-verify="req" title="城市">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="districtId" lay-filter="district" id="district">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">详细地址:</label>
            <div class="layui-input-inline layui-form-label-col">
                <input type="text" class="layui-input" name="address"
                       title="详细地址"
                       th:value="${info.address}" placeholder="详细地址"/>
            </div>
            <div class="layui-form-mid layui-word-aux-red">*</div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="">
                    <i class="layui-icon">&#xe621;</i>
                    修改
                </button>

                <button type="button" class="layui-btn" id="btnClose">
                    <i class="layui-icon">&#x1006;</i>
                    取消
                </button>
            </div>
        </div>

    </form>

</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        //省
        var provinceId = [[${info.provinceId}]];
        //市
        var cityId = [[${info.cityId}]];
        //区
        var districtId = [[${info.districtId}]];

        TX.INIT(function (layui) {

            window.form = layui.form;
            form.on("submit", function (data) {

                //移除disable状态
                $("input[name='expressNumber']").each(function () {
                    if (parseInt($(this).val()) != -1) {
                        $(this).attr("disabled", false);
                    }
                });

                TX.CORE.p({
                    data: $("form.layui-form").serialize(),
                    success: function (resp) {
                        if (resp.baseResp.success) {
                            TX.MSG.msg(resp.baseResp.message, {time: 1500}, function () {
                                parent.tab.openTab("/admin/delivery", {refershType: "refersh"});
                            });
                            parent.window.layer.close(parent.window.TX.TEMP.LAYERINDEX);
                            parent.location.reload();
                        } else {
                            TX.MSG.msg(resp.baseResp.message, {icon: 2});
                        }
                    }
                });
            });


            $("#btnClose").click(function () {
                if (parent.window.TX.TEMP.LAYERINDEX) {
                    parent.window.layer.close(parent.window.TX.TEMP.LAYERINDEX);
                } else {
                    var currentTabId = parent.tab.getCurrentTabId();
                    parent.tab.deleteTab(currentTabId);
                }
            });

            // //监听下拉框选中事件
            form.on('select(province)', function (data) {

                loadArea(data.value, 0, $("#city"), function () {

                });

            });
            //
            form.on('select(city)', function (data) {

                loadArea(data.value, 0, $("#district"), function () {

                });

            });

            $("#province").empty();
            $("#city").empty();
            $("#district").empty();

            //加载省
            loadArea(0, provinceId, $("#province"), function () {

                if (provinceId == 0) {
                    return;
                }

                //加载城市
                loadArea(provinceId, cityId, $("#city"), function () {

                    if (cityId == 0) {
                        return;
                    }

                    //加载县、区
                    loadArea(cityId, districtId, $("#district"), function () {

                    });

                });

            });

        });

        function loadArea(parentAreaId, areaId, selector, callback) {

            selector.empty().append('<option value="" >请选择</option>');
            $.ajax({
                url: "/admin/delivery/chooseArea/" + parentAreaId,
                type: "post",
                dataType: 'json',
                success: function (resp) {

                    var html = [];
                    $.each(resp.datas, function (i, item) {
                        html.push('<option value="' + item.dictId + '" ' + (item.dictId == areaId ? "selected" : "") + '>' + item.dictName + '</option>');
                    });
                    $(html.join('')).appendTo(selector);

                    form.render();
                    callback && callback();
                }
            });
        }

    </script>
</th:block>
</html>