<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <title>购物车</title>
    <link rel="stylesheet" type="text/css" th:href="@{/index/common/css/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/index/shoppingCart/css/shoppingCart.css}"/>
</head>
<body>
<!--head start-->
<div class="head">
    <h2 class="head-title"><span>我的购物车</span></h2>
</div>
<!--head end-->

<!--main start-->
<div class="main">
    <th:block th:if="${#lists.size(cartProducts) != 0}">
        <th:block th:each="cart : ${cartProducts}">
            <div class="goods-list-item">
                <span class="checkone check-all-wxz"></span>
                <dl class="goods-list-dl">
                    <a th:attr="href=@{'/goodsDetail/goodsDetail?productId='+${cart.productId}}">
                    <dt>
                        <th:block th:each="image:${productLogic.GetProductImgDtos(cart.productId)}">
                            <img th:src="${image.imgPath}"
                                 th:if="${image.productImgType eq enumLogic.GetProductImgType(0)}" alt="1"/>
                        </th:block>
                    </dt>
                    </a>
                    <dd>
                        <h2 class="goods-dl-name">
                            <th:block th:text="${productLogic.GetProduct(cart.productId).productName}"></th:block>
                        </h2>
                        <span class="goods-dl-tips">规格：<th:block
                                th:text="${productLogic.GetProductSpec(cart.productSpecId).specName}"></th:block></span>
                        <p class="goods-dl-price">&yen;<span><th:block
                                th:text="${productLogic.GetProduct(cart.productId).salePrice}"></th:block></span></p>
                        <div class="purchase-num">
                            <em class="purchase-num-reduce"></em>
                            <em class="purchase-num-del" style="display: none;"></em>
                            <input type="text" th:value="${cart.number}" disabled="disabled" class="num"/>
                            <input type="hidden" th:value="${cart.cartProductId}">
                            <em class="purchase-num-add"></em>
                        </div>
                    </dd>
                </dl>
            </div>

            <!-- delete-layer start -->
            <div class="delete-layer" style="display: none;">
                <div class="delete-layer-bg"></div>
                <div class="delete-layer-con">
                    <h2 class="delete-layer-title">确定删除该商品么？</h2>
                    <p class="delete-layer-tips">删除的商品将不会出现在购物车中</p>
                    <p class="delete-layer-p">
                        <a href="javascript:void(0);" class="delete-layer-cancel">取消</a>
                        <a th:href="@{'/cart/deleteProduct?cartProductId='+${cart.cartProductId}}"
                           class="delete-layer-confirm">确定</a>
                    </p>
                </div>
            </div>
            <!-- delete-layer end -->

        </th:block>
    </th:block>
</div>
<!--main end-->

<!--footer start-->
<div class="footer">
    <div class="footer-lt">
        <label class="footer-lt-text check-all-wxz" id="checkAll">全选</label>
        <span class="total-price">&yen;<em>0</em></span>
    </div>
    <a href="javascript:void(0);" class="purchase-btn">立即购买</a>
</div>
<!--footer end-->


<!--引入js-->
<script src="/index/common/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/index/common/js/size.js" type="text/javascript" charset="utf-8"></script>
<script src="/index/shoppingCart/js/shoppingCart.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
