<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/layout">

<div layout:fragment="content" class="admin-main layui-anim">

    <div class="admin-main layui-anim">

        <blockquote class="layui-elem-quote" style="float: left;width:97%;">
            <form class="layui-form" method="get" style="float:left;">
                <div class="layui-form-item" style="margin:0;">

                    <label class="layui-form-label">订单日期</label>
                    <div class="layui-input-inline width100">
                        <input type="text" name="startDate" id="startDate" th:value="${startDate}" class="layui-input"
                               autocomplete="off">

                    </div>
                    <label class="layui-form-label width10" style="width:10px;"> 至</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="endDate" th:value="${endDate}" id="endDate"
                               autocomplete="off">
                    </div>

                    <label class="layui-form-label">订单类型</label>
                    <div class="layui-input-inline">
                        <select name="typeId" title="订单类型">
                            <option value="">订单类型</option>
                            <th:block th:each="activityType : ${activityTypes}">
                                <option th:value="${activityType.value}" th:text="${activityType.message}"
                                        th:selected="${activityType.value == typeId}"></option>
                            </th:block>
                        </select>
                    </div>

                    <label class="layui-form-label">订单状态</label>
                    <div class="layui-input-inline" >
                        <select name="status" title="订单状态">
                            <option value="">订单状态</option>
                            <th:block th:each="orderStatus : ${orderStatuses}">
                                <option th:value="${orderStatus.value}" th:text="${orderStatus.message}"
                                        th:selected="${orderStatus.value == status}"></option>
                            </th:block>
                        </select>
                    </div>

                    <label class="layui-form-label">关键字</label>
                    <div class="layui-input-inline">
                        <input type="text" name="keys" placeholder="订单Id、openId……" th:value="${keys}" autocomplete="off"
                               class="layui-input"/>
                    </div>

                    <div class="layui-input-inline" style="width:100px; float: right">
                        <button lay-filter="search" class="layui-btn" type="submit" style="float: right;">
                            <i class="layui-icon">&#xe615;</i> 查询
                        </button>
                    </div>
                </div>
            </form>
        </blockquote>
        <div class="layui-field-box layui-form">
            <table class="layui-table admin-table">
                <thead>
                <tr>
                    <th style="width: 5%;">编号</th>
                    <th style="width: 5%;">类型</th>
                    <th>用户</th>
                    <th style="width: 10%;">商品数量</th>
                    <th style="width: 5%;">金额</th>
                    <th style="width: 10%;">状态</th>
                    <th style="width: 15%;">创建时间</th>
                    <th style="width: 20%;">操作</th>
                </tr>
                </thead>
                <tbody id="content">
                <th:block th:each="info : ${infos.list}">
                    <tr>
                        <td th:text="${info.orderId}"></td>
                        <td th:text="${enumLogic.GetActivityType(info.typeId).message}"></td>
                        <td>
                            <th:block th:with="wechat=${wechatLogic.GetWechat(info.openId)}">
                                <th:block th:text="${wechat.nickname}"></th:block>
                                <th:block th:text="${info.openId}"></th:block>
                            </th:block>
                        </td>
                        <td th:text="${#lists.size(orderLogic.GetOrderProducts(info.orderId))}"></td>
                        <td th:text="${info.payAmount}"></td>
                        <td th:text="${enumLogic.GetOrderStatus(info.status).message}"></td>
                        <td th:text="${dateUtils.formatDateByUnixTime(info.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <a th:title="|${info.orderId} 详情|"
                               th:attr="data-tab-href=@{'/admin/order/'+${info.orderId}}"
                               class="layui-btn layui-btn-normal layui-btn-xs">
                                <i class="layui-icon">&#xe642;</i>
                                详情
                            </a>

                            <button type="button" th:if="${info.status==0}"
                                    th:attr="data-method='cancel',data-id=${info.orderId}"
                                    class="layui-btn layui-btn-xs layui-btn-warm">
                                <i class="layui-icon">&#x1007;</i>
                                取消
                            </button>

                            <button th:if="${info.deleteTime == null }" type="button"
                                    th:attr="data-method='delete',data-id=${info.orderId}"
                                    class="layui-btn layui-btn-xs layui-btn-danger">
                                <i class="layui-icon">&#xe640;</i>
                                删除
                            </button>
                            <button disabled="true" th:if="${info.deleteTime != null }" type="button"
                                    th:attr="data-id=${info.orderId}"
                                    class="layui-btn layui-btn-xs layui-btn-danger layui-btn-disabled">
                                <i class="layui-icon">&#xe640;</i>
                                已删
                            </button>

                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div th:replace="comm/macros :: pageAdminNav(${infos})"></div>
    </div>

</div>


<th:block layout:fragment="script">
    <script th:inline="javascript">

        TX.INIT(function () {

            //日期
            laydate.render({
                elem: '#startDate',
                type: 'date'
            });
            laydate.render({
                elem: '#endDate',
                type: 'date'
            });

            $("button[data-method]").click(function () {

                var id = $(this).attr("data-id");
                var method = $(this).attr("data-method");

                if (method == "delete") {
                    layer.confirm('确定删除订单吗?', {icon: 3}, function (index) {
                        layer.close(index);
                        modifyStatus(method, id);
                    });
                }

                if (method == "cancel") {
                    layer.confirm('确定取消订单吗?', {icon: 3}, function (index) {
                        layer.close(index);
                        modifyStatus(method, id);
                    });
                }

            });
        });

        function modifyStatus(method, id) {

            TX.CORE.p({
                data: {method: method, id: id},
                url: "/admin/order/status",
                success: function (resp) {
                    if (resp.baseResp.success) {
                        TX.MSG.msg(resp.baseResp.message, {time: 1500}, function () {
                            location.href = location.href;
                        });
                    } else {
                        TX.MSG.msg(resp.baseResp.message, {icon: 2});
                    }
                }
            });
        }


    </script>
</th:block>

</html>