<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="admin/layout">
<script src="static/common/plugins/layui/layui.js" charset="utf-8"></script>
<link rel="stylesheet" href="static/common/plugins/layui/css/layui.css" media="all">

<div layout:fragment="content" class="admin-main layui-anim" style="margin: 15px;">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend th:text="订单详情"></legend>
    </fieldset>

    <form class="layui-form" method="post" action="">


        <div class="layui-form-item">
            <label class="layui-form-label">订单编号：</label>
            <div class="layui-input-inline layui-form-label-col"
                 style="color: blue; font-size: large; font-weight: bold;">
                <th:block th:text="${info.orderId}"></th:block>
            </div>

            <label class="layui-form-label">订单类型：</label>
            <div class="layui-input-inline layui-form-label-col">
                <th:block th:text="${enumLogic.GetActivityType(info.typeId).message}"></th:block>
            </div>

            <label class="layui-form-label">订单状态：</label>
            <div class="layui-input-inline layui-form-label-col">
                <th:block th:utext="${info.status.message}"></th:block>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户昵称：</label>
            <div class="layui-input-block layui-form-label-col">
                <th:block th:with="wechat=${wechatLogic.GetWechat(info.openId)}">
                    <th:block th:text="|【${wechat.nickname}】|"></th:block>
                    <th:block th:text="${info.openId}"></th:block>
                </th:block>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">创建时间：</label>
            <div class="layui-input-inline layui-form-label-col">
                <th:block
                        th:text="${dateUtils.formatDateByUnixTime(info.createTime, 'yyyy-MM-dd HH:mm:ss')}"></th:block>
            </div>

            <th:block th:if="${info.deleteTime != null}">
                <label class="layui-form-label" style="color: red; font-weight: bold;">删除时间：</label>
                <div class="layui-input-inline layui-form-label-col" style="color: red;font-weight: bold;">
                    <th:block
                            th:text="${dateUtils.formatDateByUnixTime(info.deleteTime, 'yyyy-MM-dd HH:mm:ss')}"></th:block>
                </div>
            </th:block>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">订单备注：</label>
            <div class="layui-input-inline layui-form-label-col" style="width: auto">
                <th:block th:text="${info.remarks}"></th:block>
            </div>
        </div>


        <th:block th:if="${info.activityId != null }">
            <div class="layui-form-item">
                <label class="layui-form-label">活动编号：</label>
                <div class="layui-input-inline layui-form-label-col">
                    <th:block th:text="${info.activityId}"></th:block>
                </div>

                <label class="layui-form-label">活动名称：</label>
                <div class="layui-input-inline layui-form-label-col">
                    <th:block th:text="${activityLogic.GetActivity(info.activityId).activityName}"></th:block>
                </div>
            </div>
        </th:block>

        <th:block>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend th:text="支付信息"></legend>
            </fieldset>

            <div class="layui-form-item">
                <label class="layui-form-label">支付时间：</label>
                <div class="layui-input-inline layui-form-label-col">
                    <th:block
                            th:text="${dateUtils.formatDateByUnixTime(info.payTime, 'yyyy-MM-dd HH:mm:ss')}"></th:block>
                </div>
                <label class="layui-form-label">流水号：</label>
                <div class="layui-input-inline layui-form-label-col">
                    <th:block th:text="${info.transactionId}"></th:block>
                </div>
            </div>
        </th:block>

        <fieldset class="layui-elem-field layui-field-title">
            <legend th:text="订单商品"></legend>
        </fieldset>

        <table style="width:100%;">
            <tr>
                <td style="width: 40%" valign="top">
                    <table class="layui-table" lay-size="sm" lay-skin="line">
                        <thead>
                        <tr>
                            <th></th>
                            <th>商品名称</th>
                            <th style="width: 30%;">规格 x 数量</th>
                        </tr>
                        </thead>
                        <tbody id="content">
                        <th:block th:each="orderProduct : ${info.orderProductDtos}">
                            <tr>
                                <td>
                                    <th:block
                                            th:each="img:${productLogic.GetProductImgDtos(orderProduct.productId)}">
                                        <img th:src="${img.imgPath}" style="width:20px;height:20px;"/>
                                    </th:block>
                                </td>
                                <th:block th:with="pro=${productLogic.GetProduct(orderProduct.productId)}">
                                    <td th:text="${pro.productName}"></td>
                                    <td th:text="|${productLogic.GetProductSpec(orderProduct.productSpecId).specName} x ${orderProduct.number}|"></td>
                                </th:block>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </td>
                <td valign="bottom" style="text-align: right;">
                    <div class="layui-form-item" style="margin: 0px;float: right;">
                        <label class="layui-form-label">订单金额：</label>
                        <div class="layui-input-inline layui-form-label-col">
                            <th:block th:text="${info.amount}"></th:block>
                        </div>
                    </div>
                    <div class="layui-form-item" style="margin: 0px;float: right;">
                        <label class="layui-form-label">优惠券：</label>
                        <div class="layui-input-inline layui-form-label-col">
                            <th:block th:text="${info.couponPrice*-1}"></th:block>
                        </div>
                    </div>
                    <div class="layui-form-item" style="margin: 0px;float: right;">
                        <label class="layui-form-label">实付金额：</label>
                        <div class="layui-input-inline layui-form-label-col"
                             style="font-size:30px;color: red; font-weight: bold;">
                            <th:block th:text="${info.payAmount}"></th:block>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </form>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        TX.INIT(function () {

            form.on("submit", function (data) {

                TX.CORE.p({
                    data: $("form.layui-form").serialize(),
                    success: function (resp) {
                        if (resp.baseResp.success) {
                            TX.MSG.msg(resp.baseResp.message, {time: 1500}, function () {
                                parent.tab.openTab("/admin/order", {refershType: "refersh"});
                                // location.href = "/admin/order";
                            });
                        } else {
                            TX.MSG.msg(resp.baseResp.message, {icon: 2});
                        }
                    }
                });

            });

            $("button[data-method]").click(function () {

                var id = $(this).attr("data-id");
                var method = $(this).attr("data-method");

                if (method == "cancel") {
                    layer.confirm('确定取消该订单吗?', {icon: 3}, function (index) {
                        layer.close(index);
                        modifyStatus(method, id);
                    });
                }
            });
        });

        function modifyStatus(method, id) {

            TX.CORE.p({
                data: {method: method, id: id},
                url: "/admin/order/status",
                success: function (resp) {
                    if (resp.baseResp.success) {
                        TX.MSG.msg(resp.baseResp.message, {time: 1500}, function () {
                            location.href = location.href;
                        });
                    } else {
                        TX.MSG.msg(resp.baseResp.message, {icon: 2});
                    }
                }
            });
        }
    </script>
</th:block>
</html>