<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="index/common/layout">

<!-- 组合商品 \document\html\KTGJService\GoodsOfJoint.html -->
<head th:replace="index/common/layout :: header('金色严选-组合商品', '', '')"></head>

<th:block layout:fragment="script">

    <script th:inline="javascript">

        var shareTitle = "我在空铁管家发现了" + [[${info.activityName}]];
        shareConfig = {
            title: shareTitle,
            desc: [[${info.introduce}]],
            imgUrl: [[${info.imgPath}]]
        };

    </script>

    <script th:src="${ob.Url('/index/js/order.js')}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" th:inline="javascript">


        TX.INIT(function () {

            //库存
            var stockCount = parseInt($(":hidden[name='stockCount']").val(), 10);

            $("em.purchase-num-reduce").click(function () {
                var num = parseInt($(":text[name='num']").val(), 10);
                if (num <= 1) return;
                num--;
                $(":text[name='num']").val(num);
                calculateOrder();
            });

            $("em.purchase-num-add").click(function () {
                var num = parseInt($(":text[name='num']").val(), 10);
                if (num >= stockCount) {
                    return;
                }
                num++;
                $(":text[name='num']").val(num);
                calculateOrder();
            });

            $("em.purchase-num-add").click();


            //立即购买
            $("a.purchase-btn").click(function () {

                if (stockCount <= 0) {
                    TX.MSG.msg("商品售罄啦");
                    return;
                }

                var activityId = [[${info.activityId}]];
                var num = parseInt($(":text[name='num']").val(), 10);

                //创建活动订单
                createOrder({
                    num: num,
                    activityTypeId: 30,
                    activityId: activityId
                });

            });

        });

        //计算订单价格
        function calculateOrder() {

            var activityId = [[${info.activityId}]];
            var num = parseInt($(":text[name='num']").val(), 10);

            //计算价格
            calculateProductOrder({
                activityTypeId: 30,
                num: num,
                activityId:activityId
            }, function (resp) {
                if (resp.baseResp.success) {
                    $("span.shopping-price em").html(resp.datas.amount);
                } else {
                    TX.MSG.msg(resp.baseResp.message, {icon: 2});
                }
            });

        }

    </script>

</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="${ob.Url('/index/css/GoodsOfJoint.css')}"/>
</th:block>

<div layout:fragment="content">

    <!--banner start-->
    <div class="banner">
        <img th:src="${info.imgPath}" alt="1" width="100%"/>
    </div>
    <!--banner end-->

    <!-- purchase-layer start -->
    <div class="purchase-layer">
        <div class="purchase-layer-bg"></div>
        <div class="purchase-layer-con">
            <!--purchase-layer-content start-->
            <div class="purchase-layer-content">
                <!--purchase-discount start-->
                <div class="purchase-discount">
                    <div class="purchase-discount-head">
                        <p class="purchase-discount-tips"><span>优惠组合</span></p>
                        <h2 class="purchase-discount-name" th:text="${info.activityName}">素园野生素食参谜</h2>
                        <p class="purchase-discount-text" th:text="${info.introduce}">健康好参 立等即食</p>
                    </div>
                    <div class="purchase-discount-list clear">

                        <div class="purchase-discount-list clear" th:if="${!#lists.isEmpty(productDtos)}">
                            <th:block th:each="pro:${productDtos}">
                                <dl class="discount-list-dl">
                                    <dt th:if="${!#lists.isEmpty(pro.productDto.productImgDtos)}">
                                        <img th:src="${pro.productDto.productImgDtos[0].imgPath}"/>
                                    </dt>
                                    <dd>
                                        <h2 class="discount-dl-name" th:text="${pro.productDto.productName}">
                                            素园野生素食参谜</h2>
                                        <p class="discount-dl-tips"
                                           th:text="${productLogic.GetProductSpec(pro.productSpecId).specName}">
                                            规格：268g/盒</p>
                                        <p class="discount-dl-p">
                                            <span class="discount-dl-price"><s th:text="${pro.productDto.salePrice}">￥399</s></span>
                                            <a th:href="${ob.Nav('/product?productId='+pro.productId)}"
                                               class="discount-dl-look" style="color: #C2191F">查看详情</a>
                                        </p>
                                    </dd>
                                </dl>
                            </th:block>
                        </div>

                    </div>
                </div>
                <!--purchase-discount end-->

                <!--purchase-layer-main start-->
                <div class="purchase-layer-main">
                    <div class="purchase-layer-div">
                        <span class="purchase-layer-lable">购买数量</span>
                        <div class="purchase-num">
                            <em class="purchase-num-reduce"></em>
                            <input type="text" value="0" name="num" class="num"/>
                            <input type="hidden" name="stockCount" th:value="${info.stockCount}"/>
                            <em class="purchase-num-add"></em>
                        </div>
                    </div>
                </div>
                <!--purchase-layer-main end-->
            </div>
            <!--purchase-layer-content end-->

            <!--purchase-footer start-->
            <div class="purchase-footer">
                <p class="footer-lt">
                    <span class="shopping-price">&yen;<em>0</em></span>
                </p>
                <a href="javascript:void(0);" class="purchase-btn">立即购买</a>
            </div>
            <!--purchase-footer end-->
        </div>
    </div>
    <!-- purchase-layer end -->

</div>
