<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/layout">

<div layout:fragment="content" class="admin-main layui-anim">

    <div class="admin-main layui-anim">
        <blockquote class="layui-elem-quote" style="float: left;width:97%;">

            <div class="layui-btn-group" style="float: left;">
                <a title="添加活动" class="layui-btn" th:attr="data-tab-href=@{'/admin/activity/0'}">
                    <i class="layui-icon">&#xe654;</i>
                    添加
                </a>
            </div>

            <form class="layui-form" method="get" style="float:right;">
                <div class="layui-form-item" style="margin:0;">

                    <label class="layui-form-label">活动类型</label>
                    <div class="layui-input-inline">
                        <select name="typeId" title="活动类型">
                            <option value="">活动类型</option>
                            <th:block th:each="activityType : ${activityTypes}">
                                <option th:value="${activityType.value}" th:text="${activityType.message}"
                                        th:selected="${activityType.value == typeId}"></option>
                            </th:block>
                        </select>
                    </div>

                    <label class="layui-form-label">关键字</label>
                    <div class="layui-input-inline">
                        <input type="text" name="keys" placeholder="关键字……" th:value="${keys}" autocomplete="off"
                               class="layui-input"/>
                    </div>
                    <div class="layui-input-inline">
                        <button lay-filter="search" class="layui-btn" type="submit" style="float: right;">
                            <i class="layui-icon">&#xe615;</i> 查询
                        </button>
                    </div>

                </div>
            </form>
        </blockquote>
        <div class="layui-field-box layui-form">
            <table class="layui-table admin-table">
                <thead>
                <tr>
                    <th style="width: 5%;">编号</th>
                    <th>活动名称</th>
                    <th style="width: 5%;">类型</th>
                    <th style="width: 15%;">活动时间</th>
                    <th style="width: 5%;">售价</th>
                    <th style="width: 5%;">库存</th>
                    <th style="width: 15%;">创建时间<br/>更新时间</th>
                    <th style="width: 5%;"></th>
                    <th style="width: 20%;">操作</th>
                </tr>
                </thead>
                <tbody id="content">
                <th:block th:each="info : ${infos.list}">
                    <tr>
                        <td th:text="${info.activityId}"></td>
                        <td th:text="${info.activityName}"></td>
                        <td th:text="${enumLogic.GetActivityType(info.typeId).message}"></td>
                        <td>
                            <th:block
                                    th:text="${dateUtils.formatDateByUnixTime(info.beginTime, 'yyyy-MM-dd HH:mm:ss')}"></th:block>
                            <br/>
                            <th:block
                                    th:text="${dateUtils.formatDateByUnixTime(info.endTime, 'yyyy-MM-dd HH:mm:ss')}"></th:block>
                        </td>

                        <td th:text="${info.salePrice}"></td>
                        <td th:text="${info.stockCount}"></td>
                        <td>
                            <th:block
                                    th:text="${dateUtils.formatDateByUnixTime(info.createTime, 'yyyy-MM-dd HH:mm:ss')}"></th:block>
                            <br/>
                            <th:block
                                    th:text="${dateUtils.formatDateByUnixTime(info.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></th:block>
                        </td>
                        <td class="ext">
                            <th:block th:if="${info.iftop}">
                                <button type="button" th:attr="data-id=${info.activityId},data-method='iftop'"
                                        class="layui-btn layui-btn-normal layui-btn-xs">
                                    已置顶
                                </button>
                            </th:block>
                            <th:block th:if="!${info.iftop}">
                                <button type="button" th:attr="data-id=${info.activityId},data-method='iftop'"
                                        class="layui-btn layui-btn-danger layui-btn-xs">
                                    未置顶
                                </button>
                            </th:block>
                            <br/>
                            <button type="button" th:attr="data-id=${info.activityId},data-method='update'"
                                    class="layui-btn layui-btn-normal layui-btn-xs">
                                刷新
                            </button>
                            <br/>
                            <th:block th:if="${info.ifpass}">
                                <button type="button" th:attr="data-id=${info.activityId},data-method='ifpass'"
                                        class="layui-btn layui-btn-normal layui-btn-xs">
                                    已审
                                </button>
                            </th:block>
                            <th:block th:if="!${info.ifpass}">
                                <button type="button" th:attr="data-id=${info.activityId},data-method='ifpass'"
                                        class="layui-btn layui-btn-danger layui-btn-xs">
                                    未审
                                </button>
                            </th:block>
                        </td>

                        <td>

                            <a th:title="|${info.activityName}活动详情|"
                               th:attr="data-tab-href=@{'/admin/activity/'+${info.activityId}}"
                               class="layui-btn layui-btn-normal layui-btn-xs">
                                <i class="layui-icon">&#xe642;</i>
                                编辑
                            </a>
                            <button type="button" th:attr="data-method='delete',data-id=${info.activityId}"
                                    class="layui-btn layui-btn-xs layui-btn-danger">
                                <i class="layui-icon">&#xe640;</i>
                                删除
                            </button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div th:replace="comm/macros :: pageAdminNav(${infos})"></div>
    </div>

</div>


<th:block layout:fragment="script">
    <script th:inline="javascript">

        TX.INIT(function () {

            $("button[data-method]").click(function () {

                var id = $(this).attr("data-id");
                var method = $(this).attr("data-method");

                if (method == "delete") {
                    layer.confirm('确定删除该信息吗?', {icon: 3}, function (index) {
                        layer.close(index);
                        modifyStatus(method, id);
                    });
                }

                if (method == "ifpass") {
                    modifyStatus(method, id);
                }
                if (method == "iftop") {
                    modifyStatus(method, id);
                }
                if (method == "update") {
                    modifyStatus(method, id);
                }

            });
        });

        function modifyStatus(method, id) {

            TX.CORE.p({
                data: {method: method, id: id},
                url: "/admin/activity/status",
                success: function (resp) {
                    if (resp.baseResp.success) {
                        TX.MSG.msg(resp.baseResp.message, {time: 1500}, function () {
                            location.href = location.href;
                        });
                    } else {
                        TX.MSG.msg(resp.baseResp.message, {icon: 2});
                    }
                }
            });
        }


    </script>
</th:block>

<th:block layout:fragment="css">
    <style type="text/css">
        .ext button {
            margin-top: 3px;
        }
    </style>
</th:block>

</html>