<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="admin/layout">
<script src="static/common/plugins/layui/layui.js" charset="utf-8"></script>
<link rel="stylesheet" href="static/common/plugins/layui/css/layui.css" media="all">
<div layout:fragment="content" class="admin-main layui-anim" style="margin: 15px;">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend th:if="${info.activityId == null}" th:text="添加活动"></legend>
        <legend th:if="${info.activityId > 0}" th:text="|${info.activityName} 信息编辑|"></legend>
    </fieldset>

    <blockquote class="layui-elem-quote" th:if="${!allowModify}" style="color: red; font-weight: bold;">
        当前秒杀活动，已有用户抢购成功，不允许修改。
    </blockquote>

    <form class="layui-form" method="post" action="">


        <div class="layui-form-item">
            <label class="layui-form-label">活动名称</label>
            <div class="layui-input-inline" style="width: 85%;">
                <input type="text" class="layui-input" name="activityName"
                       lay-verify="req"
                       title="活动名称"
                       th:value="${info.activityName}" placeholder="请输入活动名称"/>
            </div>
            <div class="layui-form-mid layui-word-aux-red" style="color: red">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">活动类型</label>
            <div class="layui-input-block">
                <th:block th:each="type : ${activityTypes}">
                    <input type="checkbox" name="typeId"
                           style="width:20px;height:20px;"
                           lay-filter="typeId"
                           th:disabled="${info.activityId > 0 && info.typeId != type.value}"
                           th:title="${type.message}" th:value="${type.value}"
                           th:checked="${info.typeId == type.value}">
                </th:block>
            </div>
        </div>

        <div class="layui-form-item" >
            <label class="layui-form-label">预热时间</label>
            <div class="layui-input-inline">
                <input type="text" name="showTime" placeholder="yyyy-MM-dd HH:mm:ss"
                       lay-verify="req" title="预热时间"
                       th:value="${dateUtils.formatDateByUnixTime(info.showTime, 'yyyy-MM-dd HH:mm:ss')}"
                       autocomplete="off" class="layui-input" id="show" readonly="readonly">
            </div>
            <div class="layui-form-mid layui-word-aux-red">*</div>

            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-inline">
                <input type="text" name="beginTime" placeholder="yyyy-MM-dd HH:mm:ss"
                       lay-verify="req" title="开始时间"
                       th:value="${dateUtils.formatDateByUnixTime(info.beginTime, 'yyyy-MM-dd HH:mm:ss')}"
                       autocomplete="off" class="layui-input" id="start" readonly="readonly">
            </div>
            <div class="layui-form-mid layui-word-aux-red">*</div>

            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input type="text" name="endTime" placeholder="yyyy-MM-dd HH:mm:ss"
                       lay-verify="req" title="结束时间"
                       th:value="${dateUtils.formatDateByUnixTime(info.endTime, 'yyyy-MM-dd HH:mm:ss')}"
                       autocomplete="off" class="layui-input" id="end" readonly="readonly">
            </div>
            <div class="layui-form-mid layui-word-aux-red">*</div>
        </div>


        <div class="layui-form-item" id="price" style="display: none;">
            <label class="layui-form-label">售价</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="salePrice"
                       lay-verify="float4"
                       title="售价"
                       th:value="${info.salePrice}" placeholder="请输入售价"/>
            </div>
            <div class="layui-form-mid layui-word-aux-red">*</div>


            <label class="layui-form-label">原价</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="originalPrice"
                       lay-verify="float4"
                       title="原价"
                       th:value="${info.originalPrice}" placeholder="请输入原价"/>
            </div>
            <div class="layui-form-mid   layui-word-aux-red">*</div>
        </div>


        <div class="layui-form-item" style="display: none;" id="groupNumber">
            <label class="layui-form-label">参与人数</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="number"
                       lay-verify="num2"
                       title="参与人数"
                       th:value="${info.number}" placeholder="参与人数"/>
            </div>
            <div class="layui-form-mid layui-word-aux-red">*</div>
        </div>

        <div class="layui-form-item" style="display: none;" id="stock">
            <label class="layui-form-label">库存</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="stockCount"
                       lay-verify="num2"
                       title="库存"
                       th:value="${info.stockCount}" placeholder="库存"/>
            </div>
            <div class="layui-form-mid layui-word-aux-red">*</div>
        </div>

        <div id="pic" style="display: none;">
            <div class="layui-form-item">
                <div class="layui-form-item">
                    <label class="layui-form-label">活动封面</label>
                    <div class="layui-input-4">
                        <input type="hidden" name="img_path" id="img_path"/>
                        <div class="layui-upload">
                            <button type="button" class="layui-btn layui-btn-primary" id="thumbBtn"
                                    style="width: 115px;">
                                <i class="icon icon-upload3"></i>点击上传
                            </button>
                        </div>
                    </div>
                </div>

                <div class="layui-input-block" id="divImages">
                    <th:block th:if="${activityId > 0}">
                        <label style="position: relative; float: left;margin-right: 10px;">
                            <a style="position: absolute;right:0;top:0;padding: 3px;">X</a>
                            <img class="layui-upload-img" style="width:115px;height:115px;" th:src="${info.imgPath}"/>
                            <input type="hidden" name="imgPath" th:value="${info.imgPath}"/>
                        </label>
                    </th:block>

                    <th:block th:if="${activityId == 0}">
                        <label style="position: relative; float: left;margin-right: 10px;">
                            <a style="position: absolute;right:0;top:0;padding: 3px;">X</a>
                            <img class="layui-upload-img" style="width:115px;height:115px;"/>
                            <input type="hidden" name="imgPath"/>
                        </label>
                    </th:block>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">活动简介</label>
                <div class="layui-input-inline" style="width:85%;">
                <textarea class="layui-textarea" name="introduce" id="useIntro"
                          placeholder="请输入使用说明" title="备注" th:text="${info.introduce}"
                          autocomplete="off"></textarea>

                    <script type="text/javascript">
                        UE.getEditor('useIntro', {
                            initialFrameWidth: "100%",//设置编辑器宽度
                            initialFrameHeight: 300,
                            scaleEnabled: true
                        });
                    </script>

                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">审核</label>
            <div class="layui-input-inline">
                <input type="checkbox" th:checked="${info.ifpass}" name="ifpass" lay-skin="switch" lay-text="已审|未审">
            </div>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">活动商品</label>
            <div class="layui-input-block" style="width:85%;">
                <button class="layui-btn layui-btn-normal layui-btn-xs" th:if="${allowModify}" type="button"
                        id="btnChooseProducts"
                        style="margin-top: 10px;">
                    <i class="layui-icon">&#xe654;</i> 添加商品
                </button>

                <table class="layui-table" lay-size="sm" style="width: 70%;">
                    <thead>
                    <tr>
                        <th style="width: 8%;">编号</th>
                        <th style="width: 8%;display: none" class="seckillPicture">商品图片</th>
                        <th>商品规格</th>
                        <th style="width: 8%;">售价</th>
                        <th style="width: 8%;">原价</th>
                        <th style="width: 10%;">剩余库存</th>
                        <th style="width: 10%;">使用库存</th>
                        <th style="width: 8%; display: none;" skillprice>秒杀价格</th>
                        <th style="width: 12%;">操作</th>
                    </tr>
                    </thead>
                    <tbody id="content">
                    <th:block th:each="ap : ${activityProducts}">
                        <tr th:attr="data-product-id=${ap.productId}">
                            <th:block th:with="pro=${productLogic.GetProduct(ap.productId)}">
                                <td th:text="${ap.productSpecId}"></td>
                                <td style="display: none" class="seckillPicture">
                                    <th:block
                                            th:if="${!#lists.isEmpty(productLogic.GetProductImgDtos(ap.productId,seckill))}">
                                        <img th:src="${productLogic.GetProductImgDtos(ap.productId,seckill)[0].imgPath}"
                                             style="width:50px;height: 50px;"/>
                                    </th:block>
                                </td>
                                <td>
                                    <th:block th:text="${pro.productName}"></th:block>
                                    <th:block
                                            th:text="${productLogic.GetProductSpec(ap.productSpecId).specName}"></th:block>
                                </td>
                                <td th:text="${pro.salePrice}"></td>
                                <td th:text="${pro.originalPrice}"></td>
                                <td th:text="${pro.stockCount}"></td>
                                <td>
                                    <input type="text" class="layui-input" name="productSpecStockCount"
                                           lay-verify="num2"
                                           title="库存"
                                           style="height:20px;"
                                           th:value="${ap.stockCount}" placeholder="请输入库存"/>
                                </td>
                                <td style="display: none;" skillprice>
                                    <input type="text" class="layui-input" name="productSpecSalePrice"
                                           lay-verify="float4"
                                           title="秒杀价"
                                           style="height:20px;"
                                           th:value="${ap.salePrice}" placeholder="请输入秒杀价"/>
                                </td>

                                <td>
                                    <input type="hidden" name="productSpecId" th:value="${ap.productSpecId}"/>
                                    <button type="button" th:attr="data-method='delete',data-id=${ap.productSpecId}"
                                            class="layui-btn layui-btn-xs layui-btn-danger">
                                        <i class="layui-icon">&#xe640;</i>
                                    </button>

                                    <button type="button" name="picBtn" th:title="|${pro.productName}秒杀图片|"
                                            th:attr="data-activity-id=${activityId},data-product-id=${ap.productId}"
                                            class="layui-btn layui-btn-normal layui-btn-xs">
                                        <i class="layui-icon">&#xe64a;</i>
                                    </button>
                                </td>
                            </th:block>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <div class="layui-form-mid layui-word-aux">双击表格调整顺序。</div>

            </div>
        </div>

        <blockquote class="layui-elem-quote" th:if="${!allowModify}" style="color: red; font-weight: bold;">
            当前秒杀活动，已有用户抢购成功，不允许修改。
        </blockquote>

        <div class="layui-form-item">
            <div class="layui-input-block" style="float: left;margin-left: 15px;">
                <button type="button" class="layui-btn" lay-submit="" th:if="${allowModify}">
                    <i class="layui-icon">&#xe621;</i>
                    保存
                </button>
                <button type="button" class="layui-btn" id="btnClose">
                    <i class="layui-icon">&#x1006;</i>
                    关闭
                </button>
            </div>
        </div>

    </form>

</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        TX.INIT(function (layui) {

            var form = layui.form;
            var upload = layui.upload;

            //缩略图上传
            upload.render({
                elem: '#thumbBtn',
                url: '/ueditor/uploadimage',
                accept: 'images', //普通文件
                field: "upfile",
                multiple: true,
                exts: 'jpg|png|gif|jpeg', //只允许上传压缩文件
                done: function (resp) {

                    if (resp.state == "SUCCESS") {
                        var html = [];

                        html.push('<label style="position: relative; float: left;margin-right: 10px;">');
                        html.push('    <a style="position: absolute;right:0;top:0;padding: 3px;">X</a>');
                        html.push('    <img class="layui-upload-img" src="' + resp.url + '" style="width:115px;height:115px;"/>');
                        html.push('    <input type="hidden" name="imgPath"  value="' + resp.fkey + '" />');
                        html.push('</label>');

                        document.getElementById("divImages").innerHTML = html.join('');

                    }
                    resetImage();
                }
            });

            //删除图片
            $(document).on("click", "#divImages label a", function () {
                var self = this;
                layer.confirm('确定删除该图片吗?', {icon: 3}, function (index) {
                    layer.close(index);
                    $(self).parent("label").remove();
                    resetImage();
                });
            });

            //重置图片
            function resetImage() {

                $("label", $("#divImages")).each(function () {
                    if ($(":hidden", $(this)).val().length == 0) {
                        $(this).remove();
                    }
                });

                if ($("label", $("#divImages")).length == 0) {
                    var html = [];
                    html.push('<label style="position: relative; float: left;margin-right: 10px;">');
                    html.push('    <a style="position: absolute;right:0;top:0;padding: 3px;">X</a>');
                    html.push('    <img class="layui-upload-img"  style="width:115px;height:115px;"/>');
                    html.push('    <input type="hidden" name="imgPath"  />');
                    html.push('</label>');
                    document.getElementById("divImages").innerHTML = html.join('');
                }
            }


            //监听指定开关
            form.on('checkbox(typeId)', function (data) {

                $("#groupNumber").hide();
                $("#price").hide();
                $("td[skillprice], th[skillprice]").hide();
                $("#pic").hide();
                $("th[class='seckillPicture'],td[class='seckillPicture']").hide();
                $("#stock").hide();
                $("button[name=picBtn]").hide();


                $(":text[name='number']").attr("lay-verify", "num2");
                $(":text[name='originalPrice']").attr("lay-verify", "float4");
                $(":text[name='salePrice']").attr("lay-verify", "float4");
                $(":text[name='productSpecSalePrice']").attr("lay-verify", "float4");
                $(":text[name='stockCount']").attr("lay-verify", "num2");

                //所选类型
                var typeId = data.value;

                $(":checkbox[name='typeId']").not($(data.elem)).removeAttr("checked");
                $(data.elem).attr("checked", "checked");

                switch (typeId) {

                    //团单
                    case "10":
                        $("#groupNumber").show();
                        $("#price").show();
                        $(":text[name='productSpecSalePrice']").removeAttr("lay-verify");
                        $("#stock").show();
                        break;
                    //秒杀
                    case "20":
                        $("td[skillprice], th[skillprice]").show();
                        $(":text[name='number']").removeAttr("lay-verify");
                        $(":text[name='originalPrice']").removeAttr("lay-verify");
                        $(":text[name='salePrice']").removeAttr("lay-verify");
                        $("th[class='seckillPicture'],td[class='seckillPicture']").show();
                        $("button[name='picBtn']").show();
                        $(":text[name='stockCount']").removeAttr("lay-verify");
                        break;
                    case "30":
                        //组合
                        $("#price").show();
                        $("#pic").show();
                        $(":text[name='number']").removeAttr("lay-verify");
                        $(":text[name='productSpecSalePrice']").removeAttr("lay-verify");
                        $("#stock").show();
                        break;
                    case "40":
                        //权益兑换
                        $(":text[name='number']").removeAttr("lay-verify");
                        $(":text[name='originalPrice']").removeAttr("lay-verify");
                        $(":text[name='salePrice']").removeAttr("lay-verify");
                        $(":text[name='productSpecSalePrice']").removeAttr("lay-verify");
                        $(":text[name='stockCount']").removeAttr("lay-verify");
                        break;

                }
                form.render();
            });

            //数据提交
            form.on("submit", function (data) {

                if ($("tr", $("#content")).length == 0) {
                    layer.msg("至少为此活动添加一个商品", {icon: 2});
                    return false;
                }

                TX.CORE.p({
                    data: $("form.layui-form").serialize(),
                    success: function (resp) {
                        if (resp.baseResp.success) {
                            TX.MSG.msg(resp.baseResp.message, {time: 1500}, function () {
                                parent.tab.openTab("/admin/activity", {refershType: "reload"});
                            });
                        } else {
                            TX.MSG.msg(resp.baseResp.message, {icon: 2});
                        }
                    }
                });

            });

            //关闭
            $("#btnClose").click(function () {
                if (parent.window.TX.TEMP.LAYERINDEX) {
                    parent.window.layer.close(parent.window.TX.TEMP.LAYERINDEX);
                } else {
                    var currentTabId = parent.tab.getCurrentTabId();
                    parent.tab.deleteTab(currentTabId);
                }
            });


            //设置时间
            layui.use(['form', 'layedit', 'laydate', "jquery"], function () {
                var form = layui.form
                    , layer = layui.layer
                    , $ = layui.jquery
                    , laydate = layui.laydate;
                var nowTime = new Date().valueOf();

                //日期
                var show = laydate.render({
                    elem: '#show',
                    type: 'datetime',
                    min: nowTime,
                    done: function (value, date) {
                        endMax = end.config.max;
                        start.config.min = date;
                        start.config.min.month = date.month - 1;
                    }
                });

                var start = laydate.render({
                    elem: '#start',
                    type: 'datetime',
                    min: nowTime,
                    done: function (value, date) {
                        endMax = end.config.max;
                        end.config.min = date;
                        end.config.min.month = date.month - 1;
                    }

                });
                var end = laydate.render({
                    elem: '#end',
                    type: 'datetime',
                    min: nowTime,
                    done: function (value, date) {
                        if ($.trim(value) == '') {
                            var curDate = new Date();
                            date = {
                                'date': curDate.getDate(),
                                'month': curDate.getMonth() + 1,
                                'year': curDate.getFullYear()
                            };
                        }
                        start.config.max = date;
                        start.config.max.month = date.month - 1;
                    }
                });
            });


            //选择商品
            $("#btnChooseProducts").click(function () {
                var choosedSpecIds = choosedProductSpecIds();
                window.TX.TEMP.LAYERINDEX = window.layer.open({
                    title: "",
                    type: 2,
                    btn: ['选择', '关闭'],
                    content: "/admin/activity/chooseProducts?specIds=" + choosedSpecIds.join(',') + "&" + Math.random(),
                    area: ["800px", "600px"],
                    yes: function (index, layero) {
                        var iframe = layero.find('iframe');
                        iframe.contents().find("button[lay-submit]").click();
                    }
                });
            });


            /**
             * 删除所选商品
             */
            $(document).on("click", "button[data-method='delete']", function () {

                var self = this;
                layer.confirm('确定删除所选商品吗?', {icon: 3}, function (index) {
                    layer.close(index);
                    $(self).parents("tr:first").remove();
                });

            });

            //触发点击活动类型事件
            var activityTypeId = [[${info.typeId}]];
            if (activityTypeId) {
                $(":checkbox[name='typeId'][value='" + activityTypeId + "']").next("div.layui-form-checkbox").trigger("click");
            }

            $(document).on("dblclick", "#content tr", function (e) {

                if ($(this).index() == 0) {
                    return;
                }
                if (e.target.tagName.toUpperCase() == "INPUT") {
                    return;
                }
                var prev = $(this).prev();
                $(this).insertBefore(prev);
            });

            $(document).on("click", "button[name='picBtn']", function () {

                var activityId = $(this).attr("data-activity-id");
                var productId = $(this).attr("data-product-id");

                var url = "/admin/activity/" + activityId + "/" + productId;

                window.TX.TEMP.LAYERINDEX = window.layer.open({
                    title: "秒杀图片管理",
                    type: 2,
                    content: url,
                    area: ["600px", "500px"]
                });

            });

        });

        function clickCurrentActivityType() {
            $(":checkbox[name='typeId']:checked").next("div.layui-form-checkbox").trigger("click");
        }


        /**
         * 获取所选规格编号
         */
        function choosedProductSpecIds() {
            var specIds = [];
            $(":hidden[name='productSpecId']").each(function () {
                specIds.push(parseInt(this.value, 10));
            });
            return specIds;
        }

        /**
         * 选择商品规格
         * @param pss
         */
        function chooseProductSpecs(specIds) {

            if (specIds.length == 0) {
                return;
            }

            var choosedSpecIds = choosedProductSpecIds();

            TX.CORE.p({
                data: {specIds: specIds.join(',')},
                url: "/admin/activity/activityProductSpecs",
                success: function (resp) {
                    if (resp.baseResp.success) {

                        if (!resp.datas || resp.datas.length == 0) {
                            return;
                        }
                        var html = [];
                        console.log("响应数据", resp.datas);
                        $.each(resp.datas, function (i, item) {
                            if ($.inArray(item.productSpecId, choosedSpecIds) != -1) {
                                return true;
                            }
                            html.push('<tr data-product-id="' + item.productId + '" >');
                            html.push('    <td></td>');
                            html.push('    <td style="display: none" class="seckillPicture">')
                            if (item.imgPath == null) {
                                html.push('   <img   style="opacity: 0;" src="' + item.imgPath + '" style="width:50px;height: 50px;"/></td>')
                            }
                            if (item.imgPath != null) {
                                html.push('   <img  src="' + item.imgPath + '" style="width:50px;height: 50px;"/></td>')
                            }
                            html.push('    <td>' + item.productName + item.specName + '</td>');
                            html.push('    <td>' + item.salePrice + '</td>');
                            html.push('    <td>' + item.originalPrice + '</td>');
                            html.push('    <td>' + item.stockCount + '</td>');
                            html.push('    <td><input type="text" class="layui-input" name="productSpecStockCount" lay-verify="num2" title="库存" style="height:20px;" value="0" placeholder="请输入库存"/></td> ');

                            html.push('    <td style="display: none;" skillprice>');
                            html.push('     <input type="text" class="layui-input" name="productSpecSalePrice" lay-verify="req" title="秒杀价" style="height:20px;" value="0" placeholder="请输入秒杀价"/>');
                            html.push('    </td>');

                            html.push('    <td>');
                            html.push('     <input type="hidden" name="productSpecId" value="' + item.productSpecId + '"/>');
                            html.push('     <button type="button" data-method="delete" data-id="' + item.productSpecId + '" class="layui-btn layui-btn-xs layui-btn-danger">');
                            html.push('     <i class="layui-icon">&#xe640;</i></button>');

                            html.push(' <button type="button" name="picBtn" title="|' + item.productName + '秒杀图片|"  data-activity-id="' + [[${activityId}]] + '" data-product-id="' + item.productId + '"   class="layui-btn layui-btn-normal layui-btn-xs"> ');
                            html.push('  <i class="layui-icon">&#xe64a;</i></button>');


                            html.push('    </td>');
                            html.push('</tr>');

                        });

                        $(html.join('')).appendTo($("#content"));
                        clickCurrentActivityType();

                    } else {
                        TX.MSG.msg(resp.baseResp.message, {icon: 2});
                    }
                }
            });
        }

        /**
         * 设置图片路径
         * @param productId
         * @param src
         */
        function setImgPath(productId, src) {
            $("tr[data-product-id='" + productId + "'] img").attr("src", src);
        }
    </script>
</th:block>
</html>