<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsj.member.ob.dao.ActivityProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsj.member.ob.entity.ActivityProduct">
        <id column="activity_product_id" property="activityProductId" />
        <result column="activity_id" property="activityId" />
        <result column="product_id" property="productId" />
        <result column="product_spec_id" property="productSpecId" />
        <result column="sort" property="sort" />
        <result column="sale_price" property="salePrice" />
        <result column="stock_count" property="stockCount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        activity_product_id AS activityProductId, activity_id AS activityId, product_id AS productId, product_spec_id AS productSpecId, sort, sale_price AS salePrice, stock_count AS stockCount, create_time AS createTime, update_time AS updateTime, delete_time AS deleteTime
    </sql>

</mapper>
