<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsj.member.ob.dao.ActivityOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsj.member.ob.entity.ActivityOrder">
        <id column="activity_order_id" property="activityOrderId" />
        <result column="activity_id" property="activityId" />
        <result column="open_id" property="openId" />
        <result column="union_id" property="unionId" />
        <result column="expire_time" property="expireTime" />
        <result column="parent_activity_order_id" property="parentActivityOrderId" />
        <result column="status" property="status" />
        <result column="remarks" property="remarks" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        activity_order_id AS activityOrderId, activity_id AS activityId, open_id AS openId, union_id AS unionId, expire_time AS expireTime, parent_activity_order_id AS parentActivityOrderId, status, remarks, create_time AS createTime, update_time AS updateTime, delete_time AS deleteTime
    </sql>

</mapper>
