<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsj.member.ob.dao.CartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsj.member.ob.entity.Cart">
        <id column="cart_id" property="cartId" />
        <result column="open_id" property="openId" />
        <result column="union_id" property="unionId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cart_id AS cartId, open_id AS openId, union_id AS unionId, create_time AS createTime, update_time AS updateTime, delete_time AS deleteTime
    </sql>


    <!-- 获取购物车列表 -->
    <select id="getCartProducts" resultType="com.jsj.member.ob.entity.CartProduct">

        <![CDATA[
            select a.* from _cart_product as a
                INNER JOIN _cart as b
                    on a.cart_id = b.cart_id
                INNER JOIN _product as c
                    on a.product_id = c.product_id
                inner join _product_spec as d
                    on a.product_spec_id = d.product_spec_id
                left join _activity as e
                    on a.activity_id = e.activity_id
                left join _activity_product as f
                    on (e.activity_id = f.activity_id and f.product_id = a.product_id and f.product_spec_id = a.product_spec_id)

            where a.delete_time is null and
                b.delete_time is null and
                c.delete_time is null and
                d.delete_time is null AND
                e.delete_time is null AND
                (a.activity_id = 0 or (a.activity_id > 0 and f.activity_product_id is not null and f.delete_time is null)) and
                b.union_id = #{unionId}
            order by a.create_time desc
        ]]>
    </select>

</mapper>
