<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsj.member.ob.dao.DeliveryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsj.member.ob.entity.Delivery">
        <id column="delivery_id" property="deliveryId" />
        <result column="open_id" property="openId" />
        <result column="union_id" property="unionId" />
        <result column="express_number" property="expressNumber" />
        <result column="status" property="status" />
        <result column="type_id" property="typeId" />
        <result column="property_type_id" property="propertyTypeId" />
        <result column="contact_name" property="contactName" />
        <result column="mobile" property="mobile" />
        <result column="id_number" property="idNumber" />
        <result column="id_type_id" property="idTypeId" />
        <result column="flight_number" property="flightNumber" />
        <result column="airport_code" property="airportCode" />
        <result column="airport_name" property="airportName" />
        <result column="address" property="address" />
        <result column="effective_date" property="effectiveDate" />
        <result column="remarks" property="remarks" />
        <result column="province_id" property="provinceId" />
        <result column="city_id" property="cityId" />
        <result column="district_id" property="districtId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        delivery_id AS deliveryId, open_id AS openId, union_id AS unionId, express_number AS expressNumber, status, type_id AS typeId, property_type_id AS propertyTypeId, contact_name AS contactName, mobile, id_number AS idNumber, id_type_id AS idTypeId, flight_number AS flightNumber, airport_code AS airportCode, airport_name AS airportName, address, effective_date AS effectiveDate, remarks, province_id AS provinceId, city_id AS cityId, district_id AS districtId, create_time AS createTime, update_time AS updateTime, delete_time AS deleteTime
    </sql>

</mapper>
