<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsj.member.ob.dao.ProductImgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsj.member.ob.entity.ProductImg">
        <id column="product_img_id" property="productImgId" />
        <result column="product_id" property="productId" />
        <result column="img_path" property="imgPath" />
        <result column="type_id" property="typeId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        product_img_id AS productImgId, product_id AS productId, img_path AS imgPath, type_id AS typeId, create_time AS createTime, update_time AS updateTime, delete_time AS deleteTime
    </sql>

</mapper>
