<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsj.member.ob.dao.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsj.member.ob.entity.Product">
        <id column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="type_id" property="typeId" />
        <result column="property_type_id" property="propertyTypeId" />
        <result column="introduce" property="introduce" />
        <result column="use_intro" property="useIntro" />
        <result column="unit" property="unit" />
        <result column="remarks" property="remarks" />
        <result column="gift_copywriting" property="giftCopywriting" />
        <result column="ifpickup" property="ifpickup" />
        <result column="ifpass" property="ifpass" />
        <result column="ifdistribution" property="ifdistribution" />
        <result column="sort" property="sort" />
        <result column="opemployee_id" property="opemployeeId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        product_id AS productId, product_name AS productName, type_id AS typeId, property_type_id AS propertyTypeId, introduce, use_intro AS useIntro, unit, remarks, gift_copywriting AS giftCopywriting, ifpickup, ifpass, ifdistribution, sort, opemployee_id AS opemployeeId, create_time AS createTime, update_time AS updateTime, delete_time AS deleteTime
    </sql>

</mapper>
