<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsj.member.ob.dao.SeckillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jsj.member.ob.entity.Seckill">
        <id column="seckill_id" property="seckillId" />
        <result column="product_id" property="productId" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="seckill_price" property="seckillPrice" />
        <result column="stock_count" property="stockCount" />
        <result column="ifpass" property="ifpass" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        seckill_id AS seckillId, product_id AS productId, begin_time AS beginTime, end_time AS endTime, seckill_price AS seckillPrice, stock_count AS stockCount, ifpass, create_time AS createTime, update_time AS updateTime, delete_time AS deleteTime
    </sql>

</mapper>
