<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="format-detection" content="telephone=no" />
	    <meta name="format-detection" content="email=no" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	    <title>空铁服务</title>
	    <link rel="stylesheet" type="text/css" href="/index/common/css/public.css"/>
	    <link rel="stylesheet" type="text/css" href="/index/common/js/swiper/css/swiper.min.css"/>
	    <link rel="stylesheet" type="text/css" href="/index/share/css/GiveDetail.css"/>
	</head>
	<body>
		<!--banner start-->
		<div class="banner start">
			<!-- 轮播 start -->
			<div class="swiper-container">
			    <div class="swiper-wrapper">
					<th:block th:each="stock:${stockDtos}">
			    	<div class="swiper-slide">
			    		<dl class="banner-dl">
			    			<dt>
								<th:block th:each="image:${productLogic.GetProductImgDtos(stock.productId)}">
									<img th:src="${image.imgPath}"
										 th:if="${image.productImgType eq enumLogic.GetProductImgType(0)}"
										 width="100%"/>
								</th:block>
							</dt>
			    			<dd>
			    				<h2 class="banner-dl-name">
									<th:block th:text="${productLogic.GetProduct(stock.productId).productName}"></th:block>
								</h2>
			    				<p class="banner-dl-tips">共
									<th:block th:text="${giftLogic.GetGiftStockCount(stock.giftDto.giftId)}"></th:block>
									件商品</p>
			    			</dd>
			    		</dl>
			    	</div>
					</th:block>
				</div>
			    <!-- Add Pagination -->
			    <div class="swiper-pagination"></div>
			</div>
			<!-- 轮播 end -->
		</div>
		<!--banner end-->
		
		<!--main start-->
		<div class="main">
			<!--blessings satrt-->
			<div class="blessings">
				<div class="blessings-con">
					<img src="/index/common/images/icon_douhao_lt.png" alt="1" class="icon-douhao-lt"/>
					<img src="/index/common/images/icon_douhao_rt.png" alt="1" class="icon-douhao-rt"/>
					<p class="blessings-p">
						<th:block th:text="${giftLogic.GetGift(giftId).blessings}"></th:block>
					</p>
				</div>
				<p class="give-come-from">
					<img src="/index/common/images/card_img1.png" class="give-head-img"/>
					<span class="give-come-from-text">
						<th:block th:text="${giftLogic.GetGift(giftId).wechatDto.nickName}"></th:block>
					</span>
				</p>
			</div>
			<!--blessings end-->
			
			<!--give-con start-->
			<div class="give-con">
				<h2 class="give-con-title">
					<th:block th:if="giftLogic.GetGift(giftId).giftStatus == 30">
					礼物等待领取中
					</th:block>
				</h2>
				<p class="give-con-tips">礼物赠送未被领取，24小时后退回原账户商品库；</p>
			</div>
			<!--give-con end-->
			
		</div>
		<!--main end-->
		
		<!--footer start-->
		<div class="footer">
			<a href="javascript:void(0);" class="cancel-btn">取消赠送</a>
			<a href="javascript:void(0);" class="continue-btn">继续赠送</a>
		</div>
		<!--footer end-->
		
		<!--引入js-->
		<script src="/index/common/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/index/common/js/size.js" type="text/javascript" charset="utf-8"></script>
		<script src="/index/common/js/swiper/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/index/share/js/GiveDetail.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
