<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <title>赠送记录</title>
    <link rel="stylesheet" type="text/css" href="/index/common/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/index/share/css/GiveList.css"/>
</head>
<body>
<!--nav start-->
<div class="nav">
    <div class="nav-list">
        <ul class="nav-list-ul">
            <li class="active">我赠送的</li>
            <li>我领取的</li>
        </ul>
    </div>
</div>
<!--nav start-->

<!--main start-->
<div class="main clear">
    <!--我赠送的 start-->
    <div class="give-item" style="display: block;">
        <th:block th:each="gift:${giftDtos}">
            <a th:href="@{'/give/giveDetail?giftId='+${gift.giftId}+'&openId='+${openId}}">
                <dl class="give-item-dl clear">
                    <dt>
                        <th:block th:if="${gift.giftShareType.value == 2}">
                            <img src="/index/common/images/give_default_img.png" alt="1"/>
                        </th:block>
                        <th:block th:if="${gift.giftShareType.value == 1}">
                            <th:block
                                    th:each="image:${productLogic.GetProductImgDtos(giftLogic.GetGiftStocks(gift.giftId).get(0).productId)}">
                                <img th:src="${image.imgPath}"
                                     th:if="${image.productImgType eq enumLogic.GetProductImgType(0)}"
                                     width="100%"/>
                            </th:block>
                        </th:block>
                    </dt>
                    <dd>
                        <p class="give-dd-p">
							<span class="give-dd-name">
								<th:block th:if="${gift.giftShareType.value == 2}"
                                          th:text="${gift.giftShareType.message}">
								</th:block>
								<th:block th:if="${gift.giftShareType.value != 2}" th:text="${gift.wechatDto.nickname}">
								</th:block>
							</span>
                            <span th:if="${gift.giftStatus.value == 0}" class="give-state-gray">
								<th:block th:text="${gift.giftStatus.message}"></th:block>
							</span>
                            <span th:if="${gift.giftStatus.value != 0}" class="give-state-red">
								<th:block th:text="${gift.giftStatus.message}"></th:block>
							</span>
                        </p>
                        <p class="give-dd-tips clear">共
                            <th:block th:text="${giftLogic.GetGiftStockCount(gift.giftId)}"></th:block>
                            件商品
                        </p>
                        <p class="give-dd-time">赠送时间:
                            <th:block
                                    th:text="${dateUtils.formatDateByUnixTime(gift.createTime, 'yyyy-MM-dd HH:mm:ss')}"></th:block>
                        </p>
                    </dd>
                </dl>
            </a>
        </th:block>
    </div>
    <!--我赠送的 end-->

    <!--我领取的 start-->
    <div class="give-item">
        <th:block th:each="stock:${stocks}">
            <dl class="give-item-dl clear">
                <dt>
                    <th:block th:each="image:${productLogic.GetProductImgDtos(stock.productId)}">
                        <img th:src="${image.imgPath}"
                             th:if="${image.productImgType eq enumLogic.GetProductImgType(0)}"
                             width="100%"/>
                    </th:block>
                </dt>
                <dd>
                    <p class="give-dd-p">
							<span class="give-dd-name">From:
								<th:block
                                        th:text="${stockLogic.GetStock(stock.parentStockId).wechatDto.nickname}"></th:block>
							</span>
                        <span class="give-state-gray">
								<th:block th:text="${enumLogic.GetStockStatus(stock.status).message}"></th:block>
							</span>
                    </p>
                    <!--<p class="give-dd-tips clear">共2件商品</p>-->
                    <p class="give-dd-time">赠送时间:
                        <th:block
                                th:text="${dateUtils.formatDateByUnixTime(stock.createTime, 'yyyy-MM-dd HH:mm:ss')}"></th:block>
                    </p>
                </dd>
            </dl>
        </th:block>
    </div>
    <!--我领取的 end-->
</div>
<!--main end-->

<!--引入js-->
<script src="/index/common/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/index/common/js/size.js" type="text/javascript" charset="utf-8"></script>
<script src="/index/share/js/GiveList.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
