<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:fragment="header(title,keys,descripion)">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <title th:text="${title}">金色严选</title>
    <link rel="stylesheet" th:href="${ob.Url('/index/css/public.css')}"></link>
    <th:block layout:fragment="css"></th:block>
    <script type="text/javascript" th:src="${ob.Url('/common/plugins/layui/layui.js', false)}"></script>
    <script type="text/javascript" th:src="${ob.Url('/index/js/jquery.min.js', false)}"></script>
    <script type="text/javascript" th:src="${ob.Url('/index/js/leftTime.min.js', false)}"></script>
    <script type="text/javascript" th:src="${ob.Url('/common/plugins/jslinq.js', false)}"></script>
    <script type="text/javascript" th:src="${ob.Url('/index/js/size.js')}"></script>
    <script type="text/javascript" th:src="${ob.Nav('/config/jweixin')}"></script>
    <script type="text/javascript" th:inline="javascript">
        var ob = {};
        ob.virtualPath = [[${virtualPath}]];
        ob.mini =  navigator.userAgent.toLowerCase().indexOf("miniprogram") > -1;
        ob.host = [[${host}]];
        ob.unRefresh = [[${unRefresh}]];
    </script>
    <script th:src="${ob.Url('/common/js/moment.min.js', false)}"></script>
    <script th:src="${ob.Url('/common/js/tx.js')}"></script>
    <script type="text/javascript" th:src="${ob.Url('/index/js/base.js')}"></script>
    <th:block layout:fragment="script"></th:block>
    <script type="text/javascript" th:src="${ob.Url('/index/js/shareConfig.js')}"></script>
</head>
<body>

<div layout:fragment="content"></div>


</body>
</html>