<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:fragment="header(title,keys,descripion)">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <title th:text="${title}">金色严选</title>
    <link rel="stylesheet" th:href="${ob.Url('/index/css/public.css')}"></link>
    <th:block layout:fragment="css"></th:block>

    <script type="text/javascript" th:src="${ob.Url('/common/plugins/layui/layui.js', false)}"></script>

    <!--引入的js-->
    <script type="text/javascript" th:src="${ob.Url('/index/js/jquery.min.js', false)}"></script>
    <script type="text/javascript" th:src="${ob.Url('/index/js/leftTime.min.js', false)}"></script>
    <script type="text/javascript" th:src="${ob.Url('/common/plugins/jslinq.js', false)}"></script>
    <script type="text/javascript" th:src="${ob.Url('/index/js/size.js')}"></script>

    <!--<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>

    <script type="text/javascript" th:inline="javascript">
        var virtualPath = [[${virtualPath}]];
    </script>

    <script th:src="${ob.Url('/common/js/moment.min.js', false)}"></script>
    <script th:src="${ob.Url('/common/js/tx.js')}"></script>

    <script type="text/javascript" th:inline="javascript">

        $(function () {
            TX.INIT(function () {
                TX.CORE.p({
                    url: "/config/wechat",
                    disabledLoading: true,
                    success: function (resp) {
                        if (!resp.baseResp.success) {
                            return;
                        }
                        wx.config({
                            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                            appId: resp.datas.appId, // 必填，公众号的唯一标识
                            timestamp: resp.datas.timestamp, // 必填，生成签名的时间戳
                            nonceStr: resp.datas.noncestr, // 必填，生成签名的随机串
                            signature: resp.datas.signature,// 必填，签名，见附录1
                            jsApiList: [
                                'updateAppMessageShareData',
                                'updateTimelineShareData',
                                'onMenuShareAppMessage',
                                'onMenuShareTimeline'
                            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                        });
                    }
                })
            });
        });

    </script>

    <th:block layout:fragment="script"></th:block>
    <script type="text/javascript" th:src="${ob.Url('/index/js/shareConfig.js')}"></script>
    <script>
        $(function () {

            window.onpageshow = function (event) {

                var needRefresh = sessionStorage.getItem("need-refresh");
                var lo = location.href;

                if (needRefresh && needRefresh != lo && needRefresh != document.referrer) {
                    sessionStorage.removeItem("need-refresh");
                    history.go(0);
                }
                sessionStorage.setItem("need-refresh", lo);
            }


            $(document).on("click", "div.share-layer", function () {
                $(this).hide();
            });
            $("div.share-layer").click(function () {
                $(this).hide();
            });
        })


    </script>


</head>
<body>

<div layout:fragment="content"></div>


</body>
</html>