<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:fragment="header(title,keys,descripion)">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <title th:text="${title}">金色严选</title>
    <link rel="stylesheet" th:href="@{/index/css/public.css}"></link>
    <th:block layout:fragment="css"></th:block>


    <script type="text/javascript" th:src="@{/common/plugins/layui/layui.js}"></script>

    <!--引入的js-->
    <script type="text/javascript" th:src="@{/index/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/index/js/size.js}"></script>

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" th:inline="javascript">

        wx.config({
            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: [[${appId}]], // 必填，公众号的唯一标识
            timestamp: [[${timestamp}]], // 必填，生成签名的时间戳
            nonceStr: [[${noncestr}]], // 必填，生成签名的随机串
            signature: [[${signature}]],// 必填，签名，见附录1
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareWeibo',
                'onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

    </script>


    <script th:src="@{/common/js/moment.min.js}"></script>
    <script th:src="@{/common/js/tx.js}"></script>

    <th:block layout:fragment="script"></th:block>
    <script type="text/javascript" th:src="@{/index/js/shareConfig.js}"></script>

</head>
<body>

<div layout:fragment="content"></div>


</body>
</html>